/* Font sizes */
.text-xxs {
  font-size: 0.625em;
  line-height: 1.45em; }

.text-xs {
  font-size: 0.75em;
  line-height: 1.45em; }

.text-sm {
  font-size: 0.875em;
  line-height: 1.45em; }

.text-md {
  font-size: 1.1875em;
  line-height: 1.45em; }

.text-lg {
  font-size: 1.5625em;
  line-height: 1.45em; }

.text-xlg {
  font-size: 2em;
  line-height: 1.45em; }

.text-xxlg {
  font-size: 2.8125em;
  line-height: 1.45em; }

/* Font weights */
.text-wxl {
  font-weight: 100; }

.text-wl {
  font-weight: 200; }

.text-wn {
  font-weight: 400; }

.text-wsb {
  font-weight: 600; }

.text-wb {
  font-weight: 700; }

.text-wxb {
  font-weight: 900; }

/* Text cases */
.text-ncase {
  text-transform: none; }

.text-lowercase {
  text-transform: lowercase; }

.text-uppercase {
  text-transform: uppercase; }

/* Font styles */
.text-normal {
  font-style: normal; }

.text-italic {
  font-style: italic; }

.text-strike {
  text-decoration: line-through; }

.text-spaced {
  letter-spacing: .2em; }

/* Text alignment */
.text-left {
  text-align: left !important; }

.text-center {
  text-align: center !important; }

.text-right {
  text-align: right !important; }

/* Colors */
.text-black {
  color: #000 !important; }

.bg-black {
  background-color: #000 !important; }

.b-black {
  border-color: #000 !important; }
  .b-black:before {
    border-color: #000 !important; }
  .b-black:after {
    border-color: #000 !important; }

.border-black {
  border: 1px solid #000 !important; }

.border-left-black {
  border-left: 1px solid #000 !important; }

.border-top-black {
  border-top: 1px solid #000 !important; }

.border-right-black {
  border-right: 1px solid #000 !important; }

.border-bottom-black {
  border-bottom: 1px solid #000 !important; }

.text-white {
  color: #fff !important; }

.bg-white {
  background-color: #fff !important; }

.b-white {
  border-color: #fff !important; }
  .b-white:before {
    border-color: #fff !important; }
  .b-white:after {
    border-color: #fff !important; }

.border-white {
  border: 1px solid #fff !important; }

.border-left-white {
  border-left: 1px solid #fff !important; }

.border-top-white {
  border-top: 1px solid #fff !important; }

.border-right-white {
  border-right: 1px solid #fff !important; }

.border-bottom-white {
  border-bottom: 1px solid #fff !important; }

/** Backgrounds */
.bg-none {
  background-color: transparent; }

.b-none {
  border: 0 !important; }

.bt-none {
  border-top: 0 !important; }

.br-none {
  border-right: 0 !important; }

.bb-none {
  border-bottom: 0 !important; }

.bl-none {
  border-left: 0 !important; }

/* Border sizes */
.b-xs {
  border-width: 1px !important; }

.bt-xs {
  border-top-width: 1px !important; }

.br-xs {
  border-right-width: 1px !important; }

.bb-xs {
  border-bottom-width: 1px !important; }

.bl-xs {
  border-left-width: 1px !important; }

.b-sm {
  border-width: 2px !important; }

.bt-sm {
  border-top-width: 2px !important; }

.br-sm {
  border-right-width: 2px !important; }

.bb-sm {
  border-bottom-width: 2px !important; }

.bl-sm {
  border-left-width: 2px !important; }

.b-md {
  border-width: 4px !important; }

.bt-md {
  border-top-width: 4px !important; }

.br-md {
  border-right-width: 4px !important; }

.bb-md {
  border-bottom-width: 4px !important; }

.bl-md {
  border-left-width: 4px !important; }

.b-lg {
  border-width: 6px !important; }

.bt-lg {
  border-top-width: 6px !important; }

.br-lg {
  border-right-width: 6px !important; }

.bb-lg {
  border-bottom-width: 6px !important; }

.bl-lg {
  border-left-width: 6px !important; }

.b-xlg {
  border-width: 10px !important; }

.bt-xlg {
  border-top-width: 10px !important; }

.br-xlg {
  border-right-width: 10px !important; }

.bb-xlg {
  border-bottom-width: 10px !important; }

.bl-xlg {
  border-left-width: 10px !important; }

.b-xxlg {
  border-width: 15px !important; }

.bt-xxlg {
  border-top-width: 15px !important; }

.br-xxlg {
  border-right-width: 15px !important; }

.bb-xxlg {
  border-bottom-width: 15px !important; }

.bl-xxlg {
  border-left-width: 15px !important; }

/* Utilities */
.float-none,
.clear-float,
.no-float {
  float: none !important; }

.overflow-hidden {
  overflow: hidden; }

.overflow-visible {
  overflow: visible; }

.overflow-auto {
  overflow: auto; }

.display-block {
  display: block; }

.display-inline {
  display: inline; }

.display-inline-block {
  display: inline-block; }

html.display-table .display-table {
  display: table; }

html.display-table-row .display-table-row {
  display: table-row; }

html.display-table-cell .display-table-cell {
  display: table-cell; }

.position-absolute {
  position: absolute; }

.position-static {
  position: static; }

.position-relative {
  position: relative; }

/* Spacement */
.m-auto {
  margin: 0 auto !important; }

.m-none {
  margin: 0 !important; }

.mt-none {
  margin-top: 0 !important; }

.mr-none {
  margin-right: 0 !important; }

.mb-none {
  margin-bottom: 0 !important; }

.ml-none {
  margin-left: 0 !important; }

.p-none {
  padding: 0 !important; }

.pt-none {
  padding-top: 0 !important; }

.pr-none {
  padding-right: 0 !important; }

.pb-none {
  padding-bottom: 0 !important; }

.pl-none {
  padding-left: 0 !important; }

.m-xs {
  margin: 5px !important; }

.mt-xs {
  margin-top: 5px !important; }

.mr-xs {
  margin-right: 5px !important; }

.mb-xs {
  margin-bottom: 5px !important; }

.ml-xs {
  margin-left: 5px !important; }

.m-neg-xs {
  margin: -5px !important; }

.mt-neg-xs {
  margin-top: -5px !important; }

.mr-neg-xs {
  margin-right: -5px !important; }

.mb-neg-xs {
  margin-bottom: -5px !important; }

.ml-neg-xs {
  margin-left: -5px !important; }

.p-xs {
  padding: 5px !important; }

.pt-xs {
  padding-top: 5px !important; }

.pr-xs {
  padding-right: 5px !important; }

.pb-xs {
  padding-bottom: 5px !important; }

.pl-xs {
  padding-left: 5px !important; }

.p-neg-xs {
  padding: -5px !important; }

.pt-neg-xs {
  padding-top: -5px !important; }

.pr-neg-xs {
  padding-right: -5px !important; }

.pb-neg-xs {
  padding-bottom: -5px !important; }

.pl-neg-xs {
  padding-left: -5px !important; }

.m-sm {
  margin: 10px !important; }

.mt-sm {
  margin-top: 10px !important; }

.mr-sm {
  margin-right: 10px !important; }

.mb-sm {
  margin-bottom: 10px !important; }

.ml-sm {
  margin-left: 10px !important; }

.m-neg-sm {
  margin: -10px !important; }

.mt-neg-sm {
  margin-top: -10px !important; }

.mr-neg-sm {
  margin-right: -10px !important; }

.mb-neg-sm {
  margin-bottom: -10px !important; }

.ml-neg-sm {
  margin-left: -10px !important; }

.p-sm {
  padding: 10px !important; }

.pt-sm {
  padding-top: 10px !important; }

.pr-sm {
  padding-right: 10px !important; }

.pb-sm {
  padding-bottom: 10px !important; }

.pl-sm {
  padding-left: 10px !important; }

.p-neg-sm {
  padding: -10px !important; }

.pt-neg-sm {
  padding-top: -10px !important; }

.pr-neg-sm {
  padding-right: -10px !important; }

.pb-neg-sm {
  padding-bottom: -10px !important; }

.pl-neg-sm {
  padding-left: -10px !important; }

.m-md {
  margin: 15px !important; }

.mt-md {
  margin-top: 15px !important; }

.mr-md {
  margin-right: 15px !important; }

.mb-md {
  margin-bottom: 15px !important; }

.ml-md {
  margin-left: 15px !important; }

.m-neg-md {
  margin: -15px !important; }

.mt-neg-md {
  margin-top: -15px !important; }

.mr-neg-md {
  margin-right: -15px !important; }

.mb-neg-md {
  margin-bottom: -15px !important; }

.ml-neg-md {
  margin-left: -15px !important; }

.p-md {
  padding: 15px !important; }

.pt-md {
  padding-top: 15px !important; }

.pr-md {
  padding-right: 15px !important; }

.pb-md {
  padding-bottom: 15px !important; }

.pl-md {
  padding-left: 15px !important; }

.p-neg-md {
  padding: -15px !important; }

.pt-neg-md {
  padding-top: -15px !important; }

.pr-neg-md {
  padding-right: -15px !important; }

.pb-neg-md {
  padding-bottom: -15px !important; }

.pl-neg-md {
  padding-left: -15px !important; }

.m-lg {
  margin: 20px !important; }

.mt-lg {
  margin-top: 20px !important; }

.mr-lg {
  margin-right: 20px !important; }

.mb-lg {
  margin-bottom: 20px !important; }

.ml-lg {
  margin-left: 20px !important; }

.m-neg-lg {
  margin: -20px !important; }

.mt-neg-lg {
  margin-top: -20px !important; }

.mr-neg-lg {
  margin-right: -20px !important; }

.mb-neg-lg {
  margin-bottom: -20px !important; }

.ml-neg-lg {
  margin-left: -20px !important; }

.p-lg {
  padding: 20px !important; }

.pt-lg {
  padding-top: 20px !important; }

.pr-lg {
  padding-right: 20px !important; }

.pb-lg {
  padding-bottom: 20px !important; }

.pl-lg {
  padding-left: 20px !important; }

.p-neg-lg {
  padding: -20px !important; }

.pt-neg-lg {
  padding-top: -20px !important; }

.pr-neg-lg {
  padding-right: -20px !important; }

.pb-neg-lg {
  padding-bottom: -20px !important; }

.pl-neg-lg {
  padding-left: -20px !important; }

.m-xlg {
  margin: 30px !important; }

.mt-xlg {
  margin-top: 30px !important; }

.mr-xlg {
  margin-right: 30px !important; }

.mb-xlg {
  margin-bottom: 30px !important; }

.ml-xlg {
  margin-left: 30px !important; }

.m-neg-xlg {
  margin: -30px !important; }

.mt-neg-xlg {
  margin-top: -30px !important; }

.mr-neg-xlg {
  margin-right: -30px !important; }

.mb-neg-xlg {
  margin-bottom: -30px !important; }

.ml-neg-xlg {
  margin-left: -30px !important; }

.p-xlg {
  padding: 30px !important; }

.pt-xlg {
  padding-top: 30px !important; }

.pr-xlg {
  padding-right: 30px !important; }

.pb-xlg {
  padding-bottom: 30px !important; }

.pl-xlg {
  padding-left: 30px !important; }

.p-neg-xlg {
  padding: -30px !important; }

.pt-neg-xlg {
  padding-top: -30px !important; }

.pr-neg-xlg {
  padding-right: -30px !important; }

.pb-neg-xlg {
  padding-bottom: -30px !important; }

.pl-neg-xlg {
  padding-left: -30px !important; }

.m-xxlg {
  margin: 40px !important; }

.mt-xxlg {
  margin-top: 40px !important; }

.mr-xxlg {
  margin-right: 40px !important; }

.mb-xxlg {
  margin-bottom: 40px !important; }

.ml-xxlg {
  margin-left: 40px !important; }

.m-neg-xxlg {
  margin: -40px !important; }

.mt-neg-xxlg {
  margin-top: -40px !important; }

.mr-neg-xxlg {
  margin-right: -40px !important; }

.mb-neg-xxlg {
  margin-bottom: -40px !important; }

.ml-neg-xxlg {
  margin-left: -40px !important; }

.p-xxlg {
  padding: 40px !important; }

.pt-xxlg {
  padding-top: 40px !important; }

.pr-xxlg {
  padding-right: 40px !important; }

.pb-xxlg {
  padding-bottom: 40px !important; }

.pl-xxlg {
  padding-left: 40px !important; }

.p-neg-xxlg {
  padding: -40px !important; }

.pt-neg-xxlg {
  padding-top: -40px !important; }

.pr-neg-xxlg {
  padding-right: -40px !important; }

.pb-neg-xxlg {
  padding-bottom: -40px !important; }

.pl-neg-xxlg {
  padding-left: -40px !important; }

/* Bootstrap grid adjustments */
.row.no-gutters {
  margin-right: 0;
  margin-left: 0; }

.row.no-gutters [class^="col-"],
.row.no-gutters [class*=" col-"] {
  padding-right: 0;
  padding-left: 0; }

/* Right-sided grid offsets */
.col-xs-offset-right-12 {
  margin-right: 100%; }

.col-xs-offset-right-11 {
  margin-right: 91.66666667%; }

.col-xs-offset-right-10 {
  margin-right: 83.33333333%; }

.col-xs-offset-right-9 {
  margin-right: 75%; }

.col-xs-offset-right-8 {
  margin-right: 66.66666667%; }

.col-xs-offset-right-7 {
  margin-right: 58.33333333%; }

.col-xs-offset-right-6 {
  margin-right: 50%; }

.col-xs-offset-right-5 {
  margin-right: 41.66666667%; }

.col-xs-offset-right-4 {
  margin-right: 33.33333333%; }

.col-xs-offset-right-3 {
  margin-right: 25%; }

.col-xs-offset-right-2 {
  margin-right: 16.66666667%; }

.col-xs-offset-right-1 {
  margin-right: 8.33333333%; }

.col-xs-offset-right-0 {
  margin-right: 0; }

@media (min-width: 768px) {
  .col-sm-offset-right-12 {
    margin-right: 100%; }
  .col-sm-offset-right-11 {
    margin-right: 91.66666667%; }
  .col-sm-offset-right-10 {
    margin-right: 83.33333333%; }
  .col-sm-offset-right-9 {
    margin-right: 75%; }
  .col-sm-offset-right-8 {
    margin-right: 66.66666667%; }
  .col-sm-offset-right-7 {
    margin-right: 58.33333333%; }
  .col-sm-offset-right-6 {
    margin-right: 50%; }
  .col-sm-offset-right-5 {
    margin-right: 41.66666667%; }
  .col-sm-offset-right-4 {
    margin-right: 33.33333333%; }
  .col-sm-offset-right-3 {
    margin-right: 25%; }
  .col-sm-offset-right-2 {
    margin-right: 16.66666667%; }
  .col-sm-offset-right-1 {
    margin-right: 8.33333333%; }
  .col-sm-offset-right-0 {
    margin-right: 0; } }

@media (min-width: 992px) {
  .col-md-offset-right-12 {
    margin-right: 100%; }
  .col-md-offset-right-11 {
    margin-right: 91.66666667%; }
  .col-md-offset-right-10 {
    margin-right: 83.33333333%; }
  .col-md-offset-right-9 {
    margin-right: 75%; }
  .col-md-offset-right-8 {
    margin-right: 66.66666667%; }
  .col-md-offset-right-7 {
    margin-right: 58.33333333%; }
  .col-md-offset-right-6 {
    margin-right: 50%; }
  .col-md-offset-right-5 {
    margin-right: 41.66666667%; }
  .col-md-offset-right-4 {
    margin-right: 33.33333333%; }
  .col-md-offset-right-3 {
    margin-right: 25%; }
  .col-md-offset-right-2 {
    margin-right: 16.66666667%; }
  .col-md-offset-right-1 {
    margin-right: 8.33333333%; }
  .col-md-offset-right-0 {
    margin-right: 0; } }

@media (min-width: 1200px) {
  .col-lg-offset-right-12 {
    margin-right: 100%; }
  .col-lg-offset-right-11 {
    margin-right: 91.66666667%; }
  .col-lg-offset-right-10 {
    margin-right: 83.33333333%; }
  .col-lg-offset-right-9 {
    margin-right: 75%; }
  .col-lg-offset-right-8 {
    margin-right: 66.66666667%; }
  .col-lg-offset-right-7 {
    margin-right: 58.33333333%; }
  .col-lg-offset-right-6 {
    margin-right: 50%; }
  .col-lg-offset-right-5 {
    margin-right: 41.66666667%; }
  .col-lg-offset-right-4 {
    margin-right: 33.33333333%; }
  .col-lg-offset-right-3 {
    margin-right: 25%; }
  .col-lg-offset-right-2 {
    margin-right: 16.66666667%; }
  .col-lg-offset-right-1 {
    margin-right: 8.33333333%; }
  .col-lg-offset-right-0 {
    margin-right: 0; } }

html, body, header, main, section, p, h1, h2, h3, h4, h5, a, ul, li, img {
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
  text-decoration: none;
  outline: none;
list-style-type: none;}
  html:focus, body:focus, header:focus, main:focus, section:focus, p:focus, h1:focus, h2:focus, h3:focus, h4:focus, h5:focus, a:focus, ul:focus, li:focus, img:focus {
    outline: none;
    text-decoration: none !important; }
  html:active, body:active, header:active, main:active, section:active, p:active, h1:active, h2:active, h3:active, h4:active, h5:active, a:active, ul:active, li:active, img:active {
    text-decoration: none !important; }
  html:visited, body:visited, header:visited, main:visited, section:visited, p:visited, h1:visited, h2:visited, h3:visited, h4:visited, h5:visited, a:visited, ul:visited, li:visited, img:visited {
    text-decoration: none !important; }

a:hover {
  color: #5bad2c;
text-decoration: none;}

* {
  transition: 0.5s;
}

@font-face {
  font-family: 'Calibri';
  src: url("../font/Calibri.ttf"); }

* {
  box-sizing: border-box; }

h1, h2, h3, h3 {
  font-family: 'Oswald', sans-serif;
}

.container {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto; }

header {
  width: 100%;
  height: 110px;
  background-color: white; }
  header .container {
    border-bottom: 1px solid #e5e5e5;
    height: 100%; }
  header .logo-wrap {
    width: 5%;
    height: 110px;
    float: left; }
  header .logo {
    background-image: url(../images/img_03.png);
    text-indent: -9999px;
    width: 59px;
    height: 60px;
    float: left;
    margin-top: 27px;
    margin-left: -15px; }
  header nav {
    margin: 0 auto;
    margin-top: 17px;
    float: right;
    margin-bottom: 30px; }
  header #desktop li {
    display: inline-block;
    float: left;
    margin-top: 20px;
    padding-left: 24px;
    font-size: 21px;
    letter-spacing: 1px; }
    header #desktop li a {
      font-family: Calibri, 'Calibri';
      color: #3d3d3d;
      padding-bottom: 5px; }
      header #desktop li a:hover {
        color: #3d3d3d;
        text-decoration: none;
        border-bottom: 2px solid #5bad2c; }
  header #desktop .slash {
    color: #5bad2c;
    padding-left: 23px; }

.bg {
  width: 100%;
  height: 1200px;
  position: relative;
  z-index: 1;
  top: 10px; }
  .bg .slider-bg {
    background-image: url(../images/turzanski_02.png);
    background-repeat: no-repeat;
    width: 374px;
    height: 933px;
    position: fixed;
    left: 0; }
  .bg .slider-bg-1 {
    background-image: url(../images/slawa_05.png);
    background-repeat: no-repeat;
    width: 356px;
    height: 933px;
    position: fixed;
    right: 0; }
  .bg .slider-bg-blog {
    background-image: url(../images/turzanski_blog_02.png);
    background-repeat: no-repeat;
    width: 374px;
    height: 933px;
    position: absolute;
    left: 0; }
  .bg .slider-bg-1-blog {
    background-image: url(../images/slawa_blog_03.png);
    background-repeat: no-repeat;
    width: 345px;
    height: 933px;
    position: absolute;
    right: 0; }
  .bg .title-slider {
    text-align: center;
    background-image: url(../images/img_07.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 479px;
    background-position: center;
    z-index: 999; }
    .bg .title-slider .krzysztof {
      position: absolute;
      top: 35%;
      left: 18%; }
    .bg .title-slider .slawa {
      position: absolute;
      top: 34%;
      right: 18%; }
    .bg .title-slider h2 {
      font-family: 'Oswald', sans-serif;
      font-size: 60px;
      letter-spacing: 6px;
      line-height: 75px;
      font-weight: 700;
      color: #505050;
      position: relative;
      top: 32%; }
      .bg .title-slider h2 .letter {
        letter-spacing: 7px;
        font-size: 59px;
        margin-left: -15px !important; }

.container-max {
  width: 100%;
  position: relative;
  margin-bottom: 340px; }

.list-box {
  width: 100%;
  max-width: 976px;
  margin: 0 auto;
  margin-top: 15px; }
  .list-box .box {
    background-color: red;
    float: left;
    width: 33%;
    height: 325px;
    position: relative; }
  .list-box .blog {
    background-image: url(../images/box_08.png);
    width: 33%;
    height: 325px;
    background-repeat: no-repeat; }
    .list-box .blog .overlay {
      background-color: rgba(245, 245, 245, 0.8);
      width: 100%;
      height: 100%; }
      .list-box .blog .overlay:hover{
        background-color: #f0f0f0 !important;
        transition: 1s; }
      .list-box .blog .overlay .title {
        position: absolute;
        width: 80%;
        top: 23%;
        transform: translateY(-50%);
        text-align: center;
        left: 50%;
        transform: translateX(-50%); }
        .list-box .blog .overlay .title h2 {
          font-size: 33px;
          color: #2d2d2d;
          font-weight: 700;
          letter-spacing: 2px; }
          .list-box .blog .overlay .title h2:after {
            content: '';
            display: block;
            margin: 0 auto;
            width: 50px;
            height: 3px;
            background-color: #03346f;
            margin-top: 20px;
            margin-bottom: 20px; }
        .list-box .blog .overlay .title p {
          font-size: 18px;
          color: #2d2d2d;
          font-family: Calibri, 'Calibri';
          font-weight: 400;
          letter-spacing: 1px; }
  .list-box .about {
    background-image: url(../images/box_09.png);
    width: 33%;
    height: 325px; }
    .list-box .about .overlay {
      background-color: rgba(92, 155, 56, 0.8);
      width: 100%;
      height: 100%; }
      .list-box .about .overlay:hover {
        background-color: #5c9b38 !important;
        transition: 1s; }
      .list-box .about .overlay .title {
        position: absolute;
        width: 80%;
        top: 23%;
        transform: translateY(-50%);
        text-align: center;
        left: 50%;
        transform: translateX(-50%); }
        .list-box .about .overlay .title h2 {
          font-size: 33px;
          color: white;
          font-weight: 700;
          letter-spacing: 2px; }
          .list-box .about .overlay .title h2:after {
            content: '';
            display: block;
            margin: 0 auto;
            width: 50px;
            height: 3px;
            background-color: white;
            margin-top: 20px;
            margin-bottom: 20px; }
        .list-box .about .overlay .title p {
          font-size: 18px;
          color: white;
          font-family: Calibri, 'Calibri';
          font-weight: 400;
          letter-spacing: 1px; }
  .list-box .club {
    background-image: url(../images/box_10.png);
    width: 33%;
    height: 325px; }
    .list-box .club .overlay {
      background-color: rgba(245, 245, 245, 0.8);
      width: 100%;
      height: 100%; }
      .list-box .club .overlay:hover {
        background-color: #f0f0f0;
        transition: 1s; }
      .list-box .club .overlay .title {
        position: absolute;
        width: 80%;
        top: 28%;
        transform: translateY(-50%);
        text-align: center;
        left: 50%;
        transform: translateX(-50%); }
        .list-box .club .overlay .title h2 {
          font-size: 33px;
          color: #2d2d2d;
          font-weight: 700;
          letter-spacing: 2px; }
          .list-box .club .overlay .title h2:after {
            content: '';
            display: block;
            margin: 0 auto;
            width: 50px;
            height: 3px;
            background-color: #03346f;
            margin-top: 20px;
            margin-bottom: 20px; }
        .list-box .club .overlay .title p {
          font-size: 18px;
          color: #2d2d2d;
          font-family: Calibri, 'Calibri';
          font-weight: 400;
          letter-spacing: 1px; }
  .list-box .select {
    background-image: url(../images/box_12.png);
    width: 33%;
    height: 325px; }
    .list-box .select .overlay {
      background-color: rgba(46, 83, 129, 0.8);
      width: 100%;
      height: 100%; }
      .list-box .select .overlay:hover {
        background-color: #03346f !important;
        transition: 1s; }
      .list-box .select .overlay .title {
        position: absolute;
        width: 80%;
        top: 23%;
        transform: translateY(-50%);
        text-align: center;
        left: 50%;
        transform: translateX(-50%); }
        .list-box .select .overlay .title h2 {
          font-size: 33px;
          color: white;
          font-weight: 700;
          letter-spacing: 2px; }
          .list-box .select .overlay .title h2:after {
            content: '';
            display: block;
            margin: 0 auto;
            width: 50px;
            height: 3px;
            background-color: white;
            margin-top: 20px;
            margin-bottom: 20px; }
        .list-box .select .overlay .title p {
          font-size: 18px;
          color: white;
          font-family: Calibri, 'Calibri';
          font-weight: 400;
          letter-spacing: 1px; }
  .list-box .project {
    background-image: url(../images/box_13.png);
    width: 33%;
    height: 325px; }
    .list-box .project .overlay {
      background-color: rgba(245, 245, 245, 0.8);
      width: 100%;
      height: 100%; }
      .list-box .project .overlay:hover {
        background-color: #f0f0f0;
        transition: 1s; }
      .list-box .project .overlay .title {
        position: absolute;
        width: 80%;
        top: 28%;
        transform: translateY(-50%);
        text-align: center;
        left: 50%;
        transform: translateX(-50%); }
        .list-box .project .overlay .title h2 {
          font-size: 33px;
          color: #2d2d2d;
          font-weight: 700;
          letter-spacing: 2px; }
          .list-box .project .overlay .title h2:after {
            content: '';
            display: block;
            margin: 0 auto;
            width: 50px;
            height: 3px;
            background-color: #03346f;
            margin-top: 20px;
            margin-bottom: 20px; }
        .list-box .project .overlay .title p {
          font-size: 18px;
          color: #2d2d2d;
          font-family: Calibri, 'Calibri';
          font-weight: 400;
          letter-spacing: 1px; }
  .list-box .film {
    background-image: url(../images/box_14.png);
    width: 33%;
    height: 325px; }
    .list-box .film .overlay {
      background-color: rgba(46, 83, 129, 0.8);
      width: 100%;
      height: 100%; }
      .list-box .film .overlay:hover {
        background-color: #03346f;
        transition: 1s; }
      .list-box .film .overlay .title {
        position: absolute;
        width: 80%;
        top: 28%;
        transform: translateY(-50%);
        text-align: center;
        left: 50%;
        transform: translateX(-50%); }
        .list-box .film .overlay .title h2 {
          font-size: 33px;
          color: white;
          font-weight: 700;
          letter-spacing: 2px; }
          .list-box .film .overlay .title h2:after {
            content: '';
            display: block;
            margin: 0 auto;
            width: 50px;
            height: 3px;
            background-color: white;
            margin-top: 20px;
            margin-bottom: 20px; }
        .list-box .film .overlay .title p {
          font-size: 18px;
          color: white;
          font-family: Calibri, 'Calibri';
          font-weight: 400;
          letter-spacing: 1px; }

.social {
  width: 200px;
  margin: 0 auto;
  background-color: white;
  height: 100px;
  margin-top: 55px;
  text-align: center;
  position: relative; }
  .social li {
    display: inline-block;
    margin: 0 auto; }
  .social .facebook {
    background-image: url(../images/facebook_03_03.png);
    width: 48px;
    height: 47px; }
  .social .facebook:hover {
    background-image: url(../images/facebook_03-hover_03.png);
    transition: .5s;
    cursor: pointer; }

.footbar {
  width: 100%;
  height: 312px;
  background-image: url(../images/img_24.png);
  position: relative;
  z-index: 1; }

footer {
  width: 100%;
  text-align: center;
  background-color: #2e2e2e;
  position: absolute;
  z-index: 1; }
  footer p {
    padding: 25px 0;
    color: white;
    font-family: Calibri, 'Calibri'; }

.hamburger {
  display: none;
  padding-top: 20px;
  cursor: pointer; }

#mobile {
  display: none;
  position: relative;
  text-align: center;
  z-index: 1;
  opacity: 1 !important;}
  #mobile li {
    display: block;
    background-color: white;
    border-bottom: 1px gray; }
    #mobile li a {
      display: block;
      width: 100%;
      padding: 15px 0; }

.hidden {
  display: block; }

main {
  margin-top: -690px;
  width: auto;
  height: auto;
  position: relative; }

.wrapper-image-vid {
  overflow: hidden;
  width: 100%;
  max-height: 100%; }
  .wrapper-image-vid a:before {
    content: '';
    background-image: url(../images/play_03.png);
    width: 54px;
    height: 67px;
    position: absolute;
<<<<<<< .mine
    top: 20%;
=======
    top: 11%;
>>>>>>> .theirs
    left: 50%;
    transform: translateX(-50%);
    z-index: 999; }

.wrapper-image {
  overflow: hidden;
  width: 100%;
  max-height: 100%; }

.wrapper-image img {
  width: auto;
  max-height: 100%; }

.main-post {
  position: relative;
  z-index: 999;
  padding: 0 15px; }
  .main-post .big-post {
    width: 100%;
    z-index: 999;
    position: relative;
    overflow: hidden;
    transition: 1s; }
    .main-post .big-post:hover {
      transform: scale(1.1); }
  .main-post .date {
    color: #808080;
    font-size: 18px;
    font-family: Calibri, 'Calibri';
    margin-top: 15px; }
  .main-post h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    color: #212121;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 700;
    margin-top: 20px; }
    .main-post h2:hover {
      color: #03346f; }
  .main-post p {
    font-size: 18px;
    color: #212121;
    line-height: 25px;
    font-family: Calibri, 'Calibri';
    margin-top: 30px;
    margin-bottom: 25px; }
  .main-post a {
    color: #212121;
    text-decoration: none;
    font-family: Calibri, 'Calibri';
    font-size: 18px; }
    .main-post a:hover {
      color: #03346f; }
  .main-post .description-post {
    border-bottom: 1px solid #e8e8e8;
    height: auto; }
    .main-post .description-post img {
      width: 30%;
      margin-right: 3%;
      margin-top: 20px; }
    .main-post .description-post p {
      color: black; }
    .main-post .description-post .date {
      color: #808080; }
.main-post .description-post a:hover {
  text-decoration: none;
}
  .main-post .comments {
    color: #807f7f;
    font-size: 18px;
    margin-top: 0;
    margin-top: 10px; }
    .main-post .comments img {
      margin-right: 5px; }
    .main-post .comments h3 {
      padding-left: 0; }

.main-post-full {
  position: relative;
  z-index: 999; }
  .main-post-full .post-thumbnail {
    width: 100%;
    z-index: 999;
    position: relative; }
  .main-post-full h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    color: #212121;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 700;
    margin-top: 20px; }
  .main-post-full a {
    color: #212121;
    text-decoration: none;
    font-family: Calibri, 'Calibri';
    font-size: 18px; }
  .main-post-full .description-post-full {
    height: auto; }
    .main-post-full .description-post-full p {
      font-size: 18px;
      color: #212121;
      line-height: 25px;
      font-family: Calibri, 'Calibri';
      margin-top: 25px; }
    .main-post-full .description-post-full .date {
      color: #808080;
      font-size: 18px;
      font-family: Calibri, 'Calibri';
      margin-top: 10px; }
  .main-post-full .comments {
    color: #807f7f;
    font-size: 18px;
    margin-top: 0;
    margin-top: 10px; }
    .main-post-full .comments img {
      margin-right: 5px; }

.date-change {
  padding: 3px 15px;
  background-color: white;
  color: #5bad2c;
  border: 1px solid #5bad2c; }
  .date-change:hover {
    background-color: #5bad2c;
    color: white;
    text-decoration: none; }
  .date-change:focus {
    background-color: #5bad2c;
    color: white; }

.wrapper-buttons-change {
  width: 100%;
  margin-top: 50px;
  margin-left: 15px; }

.wrapper-conclusion {
  width: 100%;
  padding: 0 15px; }
  .wrapper-conclusion ul {
    margin-top: 35px; }
    .wrapper-conclusion ul li {
      padding: 15px 0;
      border-bottom: 1px solid #f2f2f2; }
      .wrapper-conclusion ul li a {
        font-family: Calibri, 'Calibri';
        font-size: 18px;
        font-weight: 700;
        color: #03346f; }
        .wrapper-conclusion ul li a:hover {
          color: #5bad2c;
          text-decoration: none; }

.gallery {
  margin-top: 100px; }
  .gallery .gallery-item {
    width: 100%;
    margin-top: 25px;
    cursor: zoom-in; }

.list-post {
  position: relative;
  z-index: 999; }
  .list-post h3 {
    font-size: 29px;
    color: #03346f;
    letter-spacing: 2px;
    margin-top: 24px;
    font-weight: 700; }
    .list-post h3:last-of-type {
      color: black; }
  .list-post p {
    font-size: 20px;
    color: #03346f;
    font-family: Calibri, 'Calibri';
    margin: 25px 0; }
    .list-post p:last-of-type {
      color: black; }
  .list-post .umwetu-desc-blue {
    color: #03346f !important; }
  .list-post .blue {
    color: #03346f !important; }

.comments h3 {
  margin-left: 0;
  padding-left: 0; }

.pagination li a {
  color: black;
}

.single-post {
  position: relative;
  z-index: 995;
  margin-top: 50px; }
  .single-post .date {
    color: #808080;
    font-size: 18px;
    font-family: Calibri, 'Calibri';
    margin-top: 15px;
    margin-bottom: 0; }
  .single-post h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    color: #212121;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 700;
    margin-top: 20px;
    line-height: 35px; }
    .single-post h2:hover {
      color: #03346f;
      text-decoration: none;}
.single-post a:hover {
  text-decoration: none;
}
  .single-post p {
    font-size: 18px;
    color: #212121;
    line-height: 25px;
    font-family: Calibri, 'Calibri';
    margin-top: 30px;
    margin-bottom: 25px; }
  .single-post img {
    width: auto;
    transition: 1s; }
    .single-post img:hover {
      transform: scale(1.1); }
  .single-post a {
    color: #212121;
    text-decoration: none;
    font-family: Calibri, 'Calibri';
    font-size: 18px; }
    .single-post a:hover {
      color: #03346f; }
  .single-post .description-post {
    border-bottom: 1px solid #e8e8e8;
    height: auto; }
  .single-post .comments {
    color: #807f7f;
    font-size: 18px;
    margin-top: 0;
    margin-top: 10px; }
    .single-post .comments img {
      margin-right: 5px;
      width: 20px;
      height: 30px; }
.jaw_years a {
  font-weight: 700;
  margin-left: 15px;
}
.jaw_years a:before {
  content: '';
  display: block;
  width: 9px;
  height: 12px;
  float: left;
  background-image: url(../images/list-archive_03.png);
  background-repeat: no-repeat;
  position: absolute;
  top: 10px;
  transition: 0.5s;
}



.jaw_years:first-child {
  font-weight: 700 !important;
}



.jaw_widget .expanded ul li a:before {
  display: none;
}

.jaw_widget .jaw_years ul li a {
  font-weight: 400 !important;
}

.expanded a:before {
  transform: rotate(90deg);
  transition: 0.5s;
}

.sidebar .widget:nth-child(4) ul li {
  border-bottom: 1px solid #e8e8e8;
}

#searchsubmit {
  color: transparent;
  transition: 0.5s;
}



.pagi-post {
  padding-bottom: 150px;
  margin-top: 45px;
  border-bottom: 1px solid #e5e5e5;
  color: transparent !important;}
  .pagi-post .nav-prev a {
    background-image: url(../images/prev_15.png);
    background-repeat: no-repeat;
    text-indent: -9999px;
    width: 37px;
    height: 37px;
    float: left;
    margin-top: 20px;
}
    .pagi-post .nav-prev a:hover {
      background-image: url(../images/left-hover_20.png); }
  .pagi-post .nav-next a {
    background-image: url(../images/next_15.png);
    background-repeat: no-repeat;
    text-indent: -9999px;
    width: 37px;
    height: 37px;
    float: left;
    margin-left: -2px; }
    .pagi-post .nav-next a:hover {
      background-image: url(../images/right-hover_20.png); }

.pagination {
  margin: 8px 10px;
  float: left; }
  .pagination li {
    padding: 0 10px;
    color: #807f7f;
    font-weight: 400; }
  .pagination .active {
    color: #03346f;
    font-weight: 700; }

.bottom {
  padding-bottom: -25; }
.sidebar li {
  list-style-type: none;
}
.sidebar {
  z-index: 1; }
  .sidebar form .search {
    width: 80%;
    border: 1px solid #d6dee8;
    font-family: Calibri, 'Calibri';
    height: 48px;
    font-size: 18px;
    padding-left: 10px;
    line-height: 18px;
    position: relative;
    border-right: none;
    color: #03346f; }
    .sidebar form .search:focus {
      outline: none; }
  .sidebar form .search-button {
    width: 50px;
    height: 48px;
    border: 1px solid #d6dee8;
    background-image: url(../images/search-button_03.png);
    height: 48px;
    width: 48px;
    position: absolute;
    border-left: none;
    color: transparent;}
    .sidebar form .search-button:focus {
      outline: none; }
    .sidebar form .search-button:hover {
      background-image: url(../images/search-hover_06.png);
      border-color: #5bad2c; }
  .sidebar .subtitle {
    color: #03346f;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    margin: 25px 0;}
.sidebar .widget .subtitle {
  transition: 0.5s;
}
  .sidebar .subtitle-link {
    color: #03346f;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    margin: 55px 0; }
    .sidebar .subtitle-link a {
      font-family: 'Oswald';
      text-decoration: none;
      color: #03346f; }
      .sidebar .subtitle-link a:hover {
        text-decoration: none;
        color: #5bad2c; }
  .sidebar .green-subtitle {
    color: #5bad2c;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 30px;
    margin-top: 40px; }
  .sidebar .category {
    margin-top: 20px;
    width: 100%; }
    .sidebar .category li {
      font-family: Calibri, 'Calibri';
      padding: 5px 0;
      color: #03346f;
      position: relative;
      font-size: 18px;
      transition: .5s; }
      .sidebar .category li a {
        font-family: Calibri, 'Calibri';
        color: #03346f; }
        .sidebar .category li a:hover {
          color: #5bad2c;
          text-decoration: none; }
        .sidebar .category li a:hover span {
          color: #5bad2c; }
    .sidebar .category .count {
      text-align: right;
      position: absolute;
      right: 0;
      color: #03346f;
      font-weight: 100; }
  .sidebar .archive {
    margin-top: 20px;
    list-style-image: url(../images/list-type_07.png);
    margin-left: 15px; }
    .sidebar .archive li {
      padding: 5px 0;
      font-family: Calibri, 'Calibri';
      color: #03346f;
      font-weight: 700;
      font-size: 18px;
      transition: .5s; }
      .sidebar .archive li:hover {
        opacity: 0.6; }
    .sidebar .archive .sub-archive li {
      font-weight: 400; }
  .sidebar .popular {
    margin-top: 20px; }
    .sidebar .popular li {
      color: #03346f;
      font-weight: 400;
      font-size: 18px;
      padding: 10px 0;
      border-bottom: 1px solid #e5e5e5;
      font-family: Calibri, 'Calibri';
      transition: .5s; }
      .sidebar .popular li a {
        font-family: Calibri, 'Calibri';
        color: #03346f; }
        .sidebar .popular li a:hover {
          color: #5bad2c;
          text-decoration: none; }
  .sidebar p {
    font-family: Calibri, 'Calibri';
    color: #03346f !important;
    font-size: 18px;
    letter-spacing: 1px; }
  .sidebar .info-about {
    margin-top: 15px;
    line-height: 25px; }
  .sidebar .newsletter {
    background-image: url(../images/newsletter_11.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    max-width: 300px;
    height: 221px;
    margin-top: 90px;
    position: relative; }
    .sidebar .newsletter h3 {
      color: white;
      font-weight: 400;
      letter-spacing: 1px;
      padding-top: 30px;
      margin-left: 30px;
      font-size: 18px; }
    .sidebar .newsletter input[type="text"] {
      position: absolute;
      transform: translateX(-50%);
      top: 80px;
      width: 80%;
      left: 50%;
      height: 37px;
      font-weight: 100;
      background-color: rgba(255, 255, 255, 0.2);
      border: none;
      color: white;
      padding: 10px;
      border-radius: 5px; }
      .sidebar .newsletter input[type="text"]:focus {
        background-color: rgba(255, 255, 255, 0.9);
        color: #03346f;
        outline: none; }
    .sidebar .newsletter input[type="submit"] {
      position: absolute;
      transform: translateX(-50%);
      top: 130px;
      width: 80%;
      left: 50%;
      height: 37px;
      background: none;
      border: 1px solid white;
      border-radius: 5px;
      font-weight: 100;
      font-size: 16px;
      color: white; }
      .sidebar .newsletter input[type="submit"]:hover {
        background-color: white;
        color: #03346f;
        transition: .5s; }
      .sidebar .newsletter input[type="submit"]:focus {
        outline: none; }
  .sidebar .social-sidebar {
    width: 200px;
    background-color: white;
    height: 100px;
    margin-top: 55px;
    position: relative; }
    .sidebar .social-sidebar li {
      display: inline-block;
      margin: 0 auto; }
    .sidebar .social-sidebar .facebook {
      background-image: url(../images/facebook_03_03.png);
      width: 48px;
      height: 47px; }
    .sidebar .social-sidebar .facebook:hover {
      background-image: url(../images/facebook_03-hover_03.png);
      transition: .5s;
      cursor: pointer; }

.inter-title {
  font-size: 20px;
  color: #03346f !important;
  font-weight: 700;
  font-family: Calibri, 'Calibri'; }

.wrapper-conclusion img {
  margin-right: 15px; }

.wrapper-conclusion a {
  font-size: 21px;
  color: #03346f; }
  .wrapper-conclusion a:hover {
    color: #5bad2c;
    text-decoration: none; }

.comments {
  width: 100%; }
  .comments h3 {
    color: black;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-top: 40px; }
  .comments .comment {
    height: auto;
    border-bottom: 1px solid #ebebeb; }
    .comments .comment .image {
      width: 65px;
      height: 65px;
      background-color: #ebebeb;
      border-radius: 50%;
      float: left;
      margin-top: 42px; }
    .comments .comment .content-comment {
      margin-left: 95px;
      padding-top: 40px;
      padding-bottom: 40px; }
      .comments .comment .content-comment h4 {
        font-size: 18px;
        font-family: Calibri, 'Calibri';
        font-weight: 700; }
        .comments .comment .content-comment h4 .date {
          color: #808080;
          font-size: 18px;
          font-family: Calibri, 'Calibri';
          margin-top: 10px;
          font-weight: 400;
          margin-left: 25px;
          font-size: 16px;
          letter-spacing: 0; }
      .comments .comment .content-comment p {
        font-family: Calibri, 'Calibri';
        margin-top: 10px;
        font-size: 18px; }
  .comments form {
    position: relative;
    width: 100%;
    margin-top: 30px; }
    .comments form input[type="text"] {
      margin: 0;
      padding: 0;
      width: 48%;
      height: 45px;
      font-family: Calibri, 'Calibri';
      font-size: 18px;
      padding-left: 16px;
      color: #03346f;
      border: 1px solid #d9e1ea; }
      .comments form input[type="text"]:focus {
        outline: none;
        border-color: #03346f; }
    .comments form input[type="text"]:first-child {
      margin-right: 3%; }
    .comments form textarea {
      outline: none;
      width: 100%;
      font-family: Calibri, 'Calibri';
      font-size: 18px;
      resize: none;
      padding-left: 15px;
      color: #03346f;
      border: 1px solid #d9e1ea;
      margin-top: 30px;
      height: 140px;
      padding-top: 15px;
      position: relative; }
      .comments form textarea:focus {
        outline: none;
        border-color: #03346f; }
    .comments form .submit-form {
      background-image: url(../images/submit_03.png);
      width: 38px;
      height: 38px;
      border: none;
      position: absolute;
      right: 0;
      top: 174px;
      right: 3px; }

#aboutme {
  position: relative;
  z-index: 999; }
  #aboutme .background-about {
    background-image: url(../images/background-about_03.png);
    width: 100%;
    height: 613px;
    position: relative;
    margin-bottom: 50px; }
    #aboutme .background-about .white-about {
      position: absolute;
      left: 2%;
      top: 3%;
      background-color: white;
      width: 96%;
      height: 94%;
      padding: 25px 0; }
      #aboutme .background-about .white-about .wrapper-about-text {
        width: 80%;
        margin: 0 auto; }
        #aboutme .background-about .white-about .wrapper-about-text h3 {
          font-size: 24px;
          color: black;
          font-weight: 700;
          text-align: center;
          margin-bottom: 25px;
          margin-top: 25px; }
        #aboutme .background-about .white-about .wrapper-about-text p {
          font-family: Calibri, 'Calibri';
          text-align: center;
          padding: 10px 0;
          font-size: 18px;
          line-height: 30px; }
  #aboutme .about-content {
    margin-top: 25px; }
  #aboutme .wrapper-timeline {
    border-left: 4px solid #5bad2c;
    width: 100%; }
    #aboutme .wrapper-timeline:last-child {
      margin-top: 155px; }
    #aboutme .wrapper-timeline h3 {
      font-size: 30px;
      color: #5bad2c;
      font-weight: 700;
      margin-left: 25px;
      letter-spacing: 2px; }
      #aboutme .wrapper-timeline h3 .small-title {
        font-size: 18px;
        color: black; }
    #aboutme .wrapper-timeline .point {
      width: 100%;
      padding: 10px 0;
      min-height: 90px; }
      #aboutme .wrapper-timeline .point:after {
        content: '';
        clear: both;
        display: block; }
      #aboutme .wrapper-timeline .point .date {
        width: 17%;
        float: left;
        margin-left: 25px;
        font-size: 21px;
        font-weight: 700; }
        #aboutme .wrapper-timeline .point .date:before {
          content: '';
          position: absolute;
          width: 17px;
          height: 17px;
          background-color: white;
          border: 1px solid #5bad2c;
          border-radius: 50%;
          margin-left: -36px;
          margin-top: 6px; }
      #aboutme .wrapper-timeline .point .description-point {
        width: 70%;
        float: left;
        font-family: Calibri, 'Calibri';
        font-size: 18px;
        margin: 6px 0; }

.sidebar .sidebar-about {
  margin-top: 13px; }

.sidebar .sidebar-about-list {
  margin-top: 25px; }
  .sidebar .sidebar-about-list li {
    padding: 15px 0px;
    border-bottom: 1px solid #e5e5e5; }
    .sidebar .sidebar-about-list li a {
      color: #03346f; }
      .sidebar .sidebar-about-list li a p {
        margin-top: 10px; }
      .sidebar .sidebar-about-list li a h3 {
        margin-top: 15px;
        font-family: 'Oswald';
        font-weight: 700;
        font-size: 19px;
        letter-spacing: 2px; }
    .sidebar .sidebar-about-list li:hover a {
      text-decoration: none;
      color: #5bad2c; }

#page-main {
  position: relative;
  z-index: 999; }
  #page-main .title-subpage {
    font-size: 29px;
    color: black;
    font-weight: 700;
    margin-bottom: 25px;
    letter-spacing: 2px;
    padding: 0 15px; }
  #page-main p {
    font-size: 18px;
    font-family: Calibri, 'Calibri';
    color: #505050; }
  #page-main .sidebar p {
    font-size: 18px;
    font-family: Calibri, 'Calibri';
    color: black; }
  #page-main .desc-subpage {
    margin: 0 15px; }
  #page-main .okr-content {
    margin: 0;
    padding: 0; }
    #page-main .okr-content .wrapper-okr {
      border-bottom: 1px solid #e5e5e5;
      margin-top: 24px;
      padding: 5px 15px; }
  #page-main .wrapper-zone {
    min-width: 100%;
    display: block;
    height: auto;
    margin: 50px 15px; }
#page-main .wrapper-zone:after {
  content: '';
  display: block;
  clear: both;
}
  #page-main .zone {
    width: 33%;
    float: left;
    margin-bottom: 100px; }
    #page-main .zone h3 {
      font-weight: 700;
      color: #5bad2c;
      font-size: 22px;
      letter-spacing: 2px;
      margin-top: 35px; }
      #page-main .zone h3:after {
        background-color: #5bad2c;
        content: '';
        display: block;
        width: 50px;
        height: 1px;
        margin: 15px 0; }
    #page-main .zone ul li {
      font-family: Calibri, 'Calibri';
      font-size: 18px;
      padding: 2px 0; }
  #page-main .list {
    width: 100%;
    margin: 0 15px;
    margin-top: 50px; }
    #page-main .list h3 {
      font-size: 26px;
      color: #03346f;
      font-weight: 700;
      letter-spacing: 2px;
      margin-bottom: -25px; }
    #page-main .list .line {
      width: 100%;
      padding-top: 25px; }
      #page-main .list .line .av {
        width: 25%;
        float: left;
        margin-top: 70px; }
      #page-main .list .line .personal {
        width: 60%;
        margin-left: 5%;
        float: left; }
        #page-main .list .line .personal h3 {
          font-size: 26px;
          font-weight: 700;
          color: #5bad2c;
          letter-spacing: 2px;
          margin: 0;
          margin-top: 70px; }
          #page-main .list .line .personal h3:hover {
            color: #03346f;
            transition: 0.5s; }
        #page-main .list .line .personal a {
          text-decoration: none; }
        #page-main .list .line .personal h4 {
          font-size: 21px;
          color: black;
          font-weight: 400;
          letter-spacing: 2px;
          margin: 0;
          margin-bottom: 20px;
          margin-top: 20px; }
        #page-main .list .line .personal p {
          font-size: 18px;
          color: #505050;
          margin-left: 0;
          margin-right: 0; }
        #page-main .list .line .personal .contact {
          color: #03346f;
          margin: 0;
          padding: 0; }
          #page-main .list .line .personal .contact img {
            margin-right: 15px; }

.okr-single-content {
  margin-top: 25px;
  width: 75%;
  height: 100%; }
  .okr-single-content .av {
    width: 30%;
    float: left;
    height: 1600px; }
  .okr-single-content .desc-okr-single h3 {
    color: #5bad2c;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 15px; }
  .okr-single-content .desc-okr-single h4 {
    color: black;
    font-size: 21px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 15px; }
  .okr-single-content .desc-okr-single p {
    color: #505050;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 25px; }
  .okr-single-content .desc-okr-single .contact {
    color: #03346f !important;
    margin: 0;
    padding: 0; }
    .okr-single-content .desc-okr-single .contact img {
      margin-right: 15px; }
  .okr-single-content .desc-okr-single .meet-okr {
    margin-top: 50px; }

@media only screen and (max-width: 1180px) {
  #desktop {
    display: none; }
  .container {
    width: 90%; }
  .hamburger {
    display: block;
    float: right;
    margin-top: 25px;
    margin-right: 50px; }
  header .logo {
    margin-left: 50px; }
  .bg .title-slider h2 {
    letter-spacing: 0; }
    .bg .title-slider h2 .letter {
      letter-spacing: 0; }
  .bg {
    z-index: 1; }
  #mobile {
    z-index: 999; }
    #mobile li {
      border-bottom: 1px solid #dfdfdf; }
      #mobile li a {
        width: 100%;
        text-decoration: none; }
        #mobile li a:hover {
          color: white; }
      #mobile li:hover {
        color: white;
        background-color: #03346f; }
      #mobile li:hover a {
        color: white; }
  #aboutme .background-about {
    background-image: none; }
  #aboutme .background-about .wrapper-about-text {
    width: 90% !important;
    text-align: justify; }
  #aboutme .background-about .white-about {
    width: 100%;
    height: auto; }
  #aboutme .background-about .white-about .wrapper-about-text p {
    text-align: justify; }
  #aboutme .background-about .white-about {
    left: 0; }
  #aboutme .wrapper-timeline .point .description-point {
    margin-left: 25px;
    padding: 10px 0;
    width: 100%; }
  #aboutme .background-about .white-about .wrapper-about-text p {
    text-align: left; }
  #aboutme .background-about .white-about .wrapper-about-text {
    width: 100%; }
  #aboutme .background-about .white-about .wrapper-about-text {
    margin-left: 15px; } }

@media only screen and (max-width: 1000px) {
  .slider-bg, .slider-bg-1, .slider-bg-blog, .slider-bg-1-blog {
    display: none; }
  .title-slider img {
    display: none; }
  .av {
    display: none; }
  #page-main .list .line .personal {
    width: 100%;
    margin-left: 0;
    padding: 0; }
  #page-main .list .title-list {
    text-align: center; }
  .okr-single-content {
    width: 75%; } }

@media only screen and (max-width: 800px) {
  .list-box .blog, .list-box .about, .list-box .club, .list-box .select, .list-box .project, .list-box .film {
    width: 50%;
    background-size: cover; }
  .container {
    width: 100%; }
  #aboutme .background-about .white-about {
    position: inherit; }
  #aboutme .background-about {
    height: auto; }
  #page-main .okr-content .wrapper-okr {
    width: 90%;
    margin: 0 auto; }
  #page-main .zone {
    width: 100%;
    margin: 0; }
    #page-main .zone:last-child {
      margin-bottom: 100px; }
  .list-post {
    padding: 0; } }

@media only screen and (max-width: 500px) {
  .list-box .blog, .list-box .about, .list-box .club, .list-box .select, .list-box .project, .list-box .film {
    width: 100%; }
  .container-max {
    margin-bottom: 1350px; }
  .okr-content .zone {
    width: 100%; } }

@media only screen and (max-width: 600px) {
  .bg .title-slider h2 {
    font-size: 36px; }
    .bg .title-slider h2 .letter {
      font-size: 36px; }
  .bg .title-slider h2 .letter {
    margin-left: 0; }
  .bg .title-slider h2 {
    line-height: 55px; } }

@media only screen and (min-width: 800px) {
  .container-max {
    margin-bottom: 0; } }

@media only screen and (max-width: 780px) {
  .okr-single-content {
    width: 100%; }
  .sidebar form .search {
    width: 80%;
    margin: 0 auto; }
  .sidebar {
    margin-top: 100px; }
  #aboutme .wrapper-timeline .point .date {
    width: 100%; } }

.row {
  margin: 0 !important; }
