/* Font sizes */
.text-xxs {
  font-size: 0.625em;
  line-height: 1.45em; }

.text-xs {
  font-size: 0.75em;
  line-height: 1.45em; }

.text-sm {
  font-size: 0.875em;
  line-height: 1.45em; }

.text-md {
  font-size: 1.1875em;
  line-height: 1.45em; }

.text-lg {
  font-size: 1.5625em;
  line-height: 1.45em; }

.text-xlg {
  font-size: 2em;
  line-height: 1.45em; }

.text-xxlg {
  font-size: 2.8125em;
  line-height: 1.45em; }

/* Font weights */
.text-wxl {
  font-weight: 100; }

.text-wl {
  font-weight: 200; }

.text-wn {
  font-weight: 400; }

.text-wsb {
  font-weight: 600; }

.text-wb {
  font-weight: 700; }

.text-wxb {
  font-weight: 900; }

/* Text cases */
.text-ncase {
  text-transform: none; }

.text-lowercase {
  text-transform: lowercase; }

.text-uppercase {
  text-transform: uppercase; }

/* Font styles */
.text-normal {
  font-style: normal; }

.text-italic {
  font-style: italic; }

.text-strike {
  text-decoration: line-through; }

.text-spaced {
  letter-spacing: .2em; }

/* Text alignment */
.text-left {
  text-align: left !important; }

.text-center {
  text-align: center !important; }

.text-right {
  text-align: right !important; }

/* Colors */
.text-black {
  color: #000 !important; }

.bg-black {
  background-color: #000 !important; }

.b-black {
  border-color: #000 !important; }
  .b-black:before {
    border-color: #000 !important; }
  .b-black:after {
    border-color: #000 !important; }

.border-black {
  border: 1px solid #000 !important; }

.border-left-black {
  border-left: 1px solid #000 !important; }

.border-top-black {
  border-top: 1px solid #000 !important; }

.border-right-black {
  border-right: 1px solid #000 !important; }

.border-bottom-black {
  border-bottom: 1px solid #000 !important; }

.text-white {
  color: #fff !important; }

.bg-white {
  background-color: #fff !important; }

.b-white {
  border-color: #fff !important; }
  .b-white:before {
    border-color: #fff !important; }
  .b-white:after {
    border-color: #fff !important; }

.border-white {
  border: 1px solid #fff !important; }

.border-left-white {
  border-left: 1px solid #fff !important; }

.border-top-white {
  border-top: 1px solid #fff !important; }

.border-right-white {
  border-right: 1px solid #fff !important; }

.border-bottom-white {
  border-bottom: 1px solid #fff !important; }

/** Backgrounds */
.bg-none {
  background-color: transparent; }

.b-none {
  border: 0 !important; }

.bt-none {
  border-top: 0 !important; }

.br-none {
  border-right: 0 !important; }

.bb-none {
  border-bottom: 0 !important; }

.bl-none {
  border-left: 0 !important; }

/* Border sizes */
.b-xs {
  border-width: 1px !important; }

.bt-xs {
  border-top-width: 1px !important; }

.br-xs {
  border-right-width: 1px !important; }

.bb-xs {
  border-bottom-width: 1px !important; }

.bl-xs {
  border-left-width: 1px !important; }

.b-sm {
  border-width: 2px !important; }

.bt-sm {
  border-top-width: 2px !important; }

.br-sm {
  border-right-width: 2px !important; }

.bb-sm {
  border-bottom-width: 2px !important; }

.bl-sm {
  border-left-width: 2px !important; }

.b-md {
  border-width: 4px !important; }

.bt-md {
  border-top-width: 4px !important; }

.br-md {
  border-right-width: 4px !important; }

.bb-md {
  border-bottom-width: 4px !important; }

.bl-md {
  border-left-width: 4px !important; }

.b-lg {
  border-width: 6px !important; }

.bt-lg {
  border-top-width: 6px !important; }

.br-lg {
  border-right-width: 6px !important; }

.bb-lg {
  border-bottom-width: 6px !important; }

.bl-lg {
  border-left-width: 6px !important; }

.b-xlg {
  border-width: 10px !important; }

.bt-xlg {
  border-top-width: 10px !important; }

.br-xlg {
  border-right-width: 10px !important; }

.bb-xlg {
  border-bottom-width: 10px !important; }

.bl-xlg {
  border-left-width: 10px !important; }

.b-xxlg {
  border-width: 15px !important; }

.bt-xxlg {
  border-top-width: 15px !important; }

.br-xxlg {
  border-right-width: 15px !important; }

.bb-xxlg {
  border-bottom-width: 15px !important; }

.bl-xxlg {
  border-left-width: 15px !important; }

/* Utilities */
.float-none,
.clear-float,
.no-float {
  float: none !important; }

.overflow-hidden {
  overflow: hidden; }

.overflow-visible {
  overflow: visible; }

.overflow-auto {
  overflow: auto; }

.display-block {
  display: block; }

.display-inline {
  display: inline; }

.display-inline-block {
  display: inline-block; }

html.display-table .display-table {
  display: table; }

html.display-table-row .display-table-row {
  display: table-row; }

html.display-table-cell .display-table-cell {
  display: table-cell; }

.position-absolute {
  position: absolute; }

.position-static {
  position: static; }

.position-relative {
  position: relative; }

/* Spacement */
.m-auto {
  margin: 0 auto !important; }

.m-none {
  margin: 0 !important; }

.mt-none {
  margin-top: 0 !important; }

.mr-none {
  margin-right: 0 !important; }

.mb-none {
  margin-bottom: 0 !important; }

.ml-none {
  margin-left: 0 !important; }

.p-none {
  padding: 0 !important; }

.pt-none {
  padding-top: 0 !important; }

.pr-none {
  padding-right: 0 !important; }

.pb-none {
  padding-bottom: 0 !important; }

.pl-none {
  padding-left: 0 !important; }

.m-xs {
  margin: 5px !important; }

.mt-xs {
  margin-top: 5px !important; }

.mr-xs {
  margin-right: 5px !important; }

.mb-xs {
  margin-bottom: 5px !important; }

.ml-xs {
  margin-left: 5px !important; }

.m-neg-xs {
  margin: -5px !important; }

.mt-neg-xs {
  margin-top: -5px !important; }

.mr-neg-xs {
  margin-right: -5px !important; }

.mb-neg-xs {
  margin-bottom: -5px !important; }

.ml-neg-xs {
  margin-left: -5px !important; }

.p-xs {
  padding: 5px !important; }

.pt-xs {
  padding-top: 5px !important; }

.pr-xs {
  padding-right: 5px !important; }

.pb-xs {
  padding-bottom: 5px !important; }

.pl-xs {
  padding-left: 5px !important; }

.p-neg-xs {
  padding: -5px !important; }

.pt-neg-xs {
  padding-top: -5px !important; }

.pr-neg-xs {
  padding-right: -5px !important; }

.pb-neg-xs {
  padding-bottom: -5px !important; }

.pl-neg-xs {
  padding-left: -5px !important; }

.m-sm {
  margin: 10px !important; }

.mt-sm {
  margin-top: 10px !important; }

.mr-sm {
  margin-right: 10px !important; }

.mb-sm {
  margin-bottom: 10px !important; }

.ml-sm {
  margin-left: 10px !important; }

.m-neg-sm {
  margin: -10px !important; }

.mt-neg-sm {
  margin-top: -10px !important; }

.mr-neg-sm {
  margin-right: -10px !important; }

.mb-neg-sm {
  margin-bottom: -10px !important; }

.ml-neg-sm {
  margin-left: -10px !important; }

.p-sm {
  padding: 10px !important; }

.pt-sm {
  padding-top: 10px !important; }

.pr-sm {
  padding-right: 10px !important; }

.pb-sm {
  padding-bottom: 10px !important; }

.pl-sm {
  padding-left: 10px !important; }

.p-neg-sm {
  padding: -10px !important; }

.pt-neg-sm {
  padding-top: -10px !important; }

.pr-neg-sm {
  padding-right: -10px !important; }

.pb-neg-sm {
  padding-bottom: -10px !important; }

.pl-neg-sm {
  padding-left: -10px !important; }

.m-md {
  margin: 15px !important; }

.mt-md {
  margin-top: 15px !important; }

.mr-md {
  margin-right: 15px !important; }

.mb-md {
  margin-bottom: 15px !important; }

.ml-md {
  margin-left: 15px !important; }

.m-neg-md {
  margin: -15px !important; }

.mt-neg-md {
  margin-top: -15px !important; }

.mr-neg-md {
  margin-right: -15px !important; }

.mb-neg-md {
  margin-bottom: -15px !important; }

.ml-neg-md {
  margin-left: -15px !important; }

.p-md {
  padding: 15px !important; }

.pt-md {
  padding-top: 15px !important; }

.pr-md {
  padding-right: 15px !important; }

.pb-md {
  padding-bottom: 15px !important; }

.pl-md {
  padding-left: 15px !important; }

.p-neg-md {
  padding: -15px !important; }

.pt-neg-md {
  padding-top: -15px !important; }

.pr-neg-md {
  padding-right: -15px !important; }

.pb-neg-md {
  padding-bottom: -15px !important; }

.pl-neg-md {
  padding-left: -15px !important; }

.m-lg {
  margin: 20px !important; }

.mt-lg {
  margin-top: 20px !important; }

.mr-lg {
  margin-right: 20px !important; }

.mb-lg {
  margin-bottom: 20px !important; }

.ml-lg {
  margin-left: 20px !important; }

.m-neg-lg {
  margin: -20px !important; }

.mt-neg-lg {
  margin-top: -20px !important; }

.mr-neg-lg {
  margin-right: -20px !important; }

.mb-neg-lg {
  margin-bottom: -20px !important; }

.ml-neg-lg {
  margin-left: -20px !important; }

.p-lg {
  padding: 20px !important; }

.pt-lg {
  padding-top: 20px !important; }

.pr-lg {
  padding-right: 20px !important; }

.pb-lg {
  padding-bottom: 20px !important; }

.pl-lg {
  padding-left: 20px !important; }

.p-neg-lg {
  padding: -20px !important; }

.pt-neg-lg {
  padding-top: -20px !important; }

.pr-neg-lg {
  padding-right: -20px !important; }

.pb-neg-lg {
  padding-bottom: -20px !important; }

.pl-neg-lg {
  padding-left: -20px !important; }

.m-xlg {
  margin: 30px !important; }

.mt-xlg {
  margin-top: 30px !important; }

.mr-xlg {
  margin-right: 30px !important; }

.mb-xlg {
  margin-bottom: 30px !important; }

.ml-xlg {
  margin-left: 30px !important; }

.m-neg-xlg {
  margin: -30px !important; }

.mt-neg-xlg {
  margin-top: -30px !important; }

.mr-neg-xlg {
  margin-right: -30px !important; }

.mb-neg-xlg {
  margin-bottom: -30px !important; }

.ml-neg-xlg {
  margin-left: -30px !important; }

.p-xlg {
  padding: 30px !important; }

.pt-xlg {
  padding-top: 30px !important; }

.pr-xlg {
  padding-right: 30px !important; }

.pb-xlg {
  padding-bottom: 30px !important; }

.pl-xlg {
  padding-left: 30px !important; }

.p-neg-xlg {
  padding: -30px !important; }

.pt-neg-xlg {
  padding-top: -30px !important; }

.pr-neg-xlg {
  padding-right: -30px !important; }

.pb-neg-xlg {
  padding-bottom: -30px !important; }

.pl-neg-xlg {
  padding-left: -30px !important; }

.m-xxlg {
  margin: 40px !important; }

.mt-xxlg {
  margin-top: 40px !important; }

.mr-xxlg {
  margin-right: 40px !important; }

.mb-xxlg {
  margin-bottom: 40px !important; }

.ml-xxlg {
  margin-left: 40px !important; }

.m-neg-xxlg {
  margin: -40px !important; }

.mt-neg-xxlg {
  margin-top: -40px !important; }

.mr-neg-xxlg {
  margin-right: -40px !important; }

.mb-neg-xxlg {
  margin-bottom: -40px !important; }

.ml-neg-xxlg {
  margin-left: -40px !important; }

.p-xxlg {
  padding: 40px !important; }

.pt-xxlg {
  padding-top: 40px !important; }

.pr-xxlg {
  padding-right: 40px !important; }

.pb-xxlg {
  padding-bottom: 40px !important; }

.pl-xxlg {
  padding-left: 40px !important; }

.p-neg-xxlg {
  padding: -40px !important; }

.pt-neg-xxlg {
  padding-top: -40px !important; }

.pr-neg-xxlg {
  padding-right: -40px !important; }

.pb-neg-xxlg {
  padding-bottom: -40px !important; }

.pl-neg-xxlg {
  padding-left: -40px !important; }

/* Bootstrap grid adjustments */
.row.no-gutters {
  margin-right: 0;
  margin-left: 0; }

.row.no-gutters [class^="col-"],
.row.no-gutters [class*=" col-"] {
  padding-right: 0;
  padding-left: 0; }

/* Right-sided grid offsets */
.col-xs-offset-right-12 {
  margin-right: 100%; }

.col-xs-offset-right-11 {
  margin-right: 91.66666667%; }

.col-xs-offset-right-10 {
  margin-right: 83.33333333%; }

.col-xs-offset-right-9 {
  margin-right: 75%; }

.col-xs-offset-right-8 {
  margin-right: 66.66666667%; }

.col-xs-offset-right-7 {
  margin-right: 58.33333333%; }

.col-xs-offset-right-6 {
  margin-right: 50%; }

.col-xs-offset-right-5 {
  margin-right: 41.66666667%; }

.col-xs-offset-right-4 {
  margin-right: 33.33333333%; }

.col-xs-offset-right-3 {
  margin-right: 25%; }

.col-xs-offset-right-2 {
  margin-right: 16.66666667%; }

.col-xs-offset-right-1 {
  margin-right: 8.33333333%; }

.col-xs-offset-right-0 {
  margin-right: 0; }

@media (min-width: 768px) {
  .col-sm-offset-right-12 {
    margin-right: 100%; }
  .col-sm-offset-right-11 {
    margin-right: 91.66666667%; }
  .col-sm-offset-right-10 {
    margin-right: 83.33333333%; }
  .col-sm-offset-right-9 {
    margin-right: 75%; }
  .col-sm-offset-right-8 {
    margin-right: 66.66666667%; }
  .col-sm-offset-right-7 {
    margin-right: 58.33333333%; }
  .col-sm-offset-right-6 {
    margin-right: 50%; }
  .col-sm-offset-right-5 {
    margin-right: 41.66666667%; }
  .col-sm-offset-right-4 {
    margin-right: 33.33333333%; }
  .col-sm-offset-right-3 {
    margin-right: 25%; }
  .col-sm-offset-right-2 {
    margin-right: 16.66666667%; }
  .col-sm-offset-right-1 {
    margin-right: 8.33333333%; }
  .col-sm-offset-right-0 {
    margin-right: 0; } }

@media (min-width: 992px) {
  .col-md-offset-right-12 {
    margin-right: 100%; }
  .col-md-offset-right-11 {
    margin-right: 91.66666667%; }
  .col-md-offset-right-10 {
    margin-right: 83.33333333%; }
  .col-md-offset-right-9 {
    margin-right: 75%; }
  .col-md-offset-right-8 {
    margin-right: 66.66666667%; }
  .col-md-offset-right-7 {
    margin-right: 58.33333333%; }
  .col-md-offset-right-6 {
    margin-right: 50%; }
  .col-md-offset-right-5 {
    margin-right: 41.66666667%; }
  .col-md-offset-right-4 {
    margin-right: 33.33333333%; }
  .col-md-offset-right-3 {
    margin-right: 25%; }
  .col-md-offset-right-2 {
    margin-right: 16.66666667%; }
  .col-md-offset-right-1 {
    margin-right: 8.33333333%; }
  .col-md-offset-right-0 {
    margin-right: 0; } }

@media (min-width: 1200px) {
  .col-lg-offset-right-12 {
    margin-right: 100%; }
  .col-lg-offset-right-11 {
    margin-right: 91.66666667%; }
  .col-lg-offset-right-10 {
    margin-right: 83.33333333%; }
  .col-lg-offset-right-9 {
    margin-right: 75%; }
  .col-lg-offset-right-8 {
    margin-right: 66.66666667%; }
  .col-lg-offset-right-7 {
    margin-right: 58.33333333%; }
  .col-lg-offset-right-6 {
    margin-right: 50%; }
  .col-lg-offset-right-5 {
    margin-right: 41.66666667%; }
  .col-lg-offset-right-4 {
    margin-right: 33.33333333%; }
  .col-lg-offset-right-3 {
    margin-right: 25%; }
  .col-lg-offset-right-2 {
    margin-right: 16.66666667%; }
  .col-lg-offset-right-1 {
    margin-right: 8.33333333%; }
  .col-lg-offset-right-0 {
    margin-right: 0; } }

html, body, header, main, section, p, h1, h2, h3, h4, h5, a, ul, li, img {
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif; }

.container {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
  height: 110px; }

header {
  width: 100%;
  height: 140px;
  background-color: white; }
  header .container {
    border-bottom: 1px solid #e5e5e5; }
  header .logo-wrap {
    width: 5%;
    height: 110px;
    float: left; }
  header .logo {
    background-image: url(../images/img_03.png);
    text-indent: -999px;
    width: 59px;
    height: 60px;
    float: left;
    margin-top: 27px;
    margin-left: -15px; }
  header nav {
    margin: 0 auto;
    margin-top: 17px;
    float: right; }
  header #desktop li {
    display: inline-block;
    float: left;
    margin-top: 20px;
    padding-left: 24px;
    font-size: 21px;
    letter-spacing: 1px; }
    header #desktop li a {
      font-family: Calibri;
      color: #3d3d3d;
      padding-bottom: 5px; }
      header #desktop li a:hover {
        color: #3d3d3d;
        text-decoration: none;
        border-bottom: 2px solid #5bad2c; }
  header #desktop .slash {
    color: #5bad2c;
    padding-left: 24px; }

.bg {
  width: 100%;
  height: 1200px;
  position: relative;
  z-index: 1;
  top: 30px; }
  .bg .slider-bg {
    background-image: url(../images/turzanski_02.png);
    background-repeat: no-repeat;
    width: 374px;
    height: 933px;
    position: fixed;
    left: 0; }
  .bg .slider-bg-1 {
    background-image: url(../images/slawa_05.png);
    background-repeat: no-repeat;
    width: 356px;
    height: 933px;
    position: fixed;
    right: 0; }
  .bg .title-slider {
    text-align: center;
    background-image: url(../images/img_07.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 479px;
    background-position: center;
    z-index: 999; }
    .bg .title-slider .krzysztof {
      position: absolute;
      top: 30%;
      left: 16%; }
.bg .title-slider .slawa {
    position: absolute;
    top: 30%;
    right: 16%;
}
    .bg .title-slider h2 {
      font-family: 'Oswald', sans-serif;
      font-size: 60px;
      letter-spacing: 7px;
      line-height: 75px;
      font-weight: 700;
      color: #505050;
      position: relative;
      top: 32%; }
      .bg .title-slider h2 .letter {
        letter-spacing: 7px;
        font-size: 59px;}

.list-box {
  width: 100%;
  max-width: 976px;
  margin: 0 auto;
  margin-top: 30px; }
  .list-box .box {
    background-color: red;
    float: left;
    width: 33%;
    height: 325px;
    position: relative; }
  .list-box .blog {
    background-image: url(../images/box_08.png);
    width: 33%;
    height: 325px;
    background-repeat: no-repeat; }
    .list-box .blog .overlay {
      background-color: rgba(245, 245, 245, 0.8);
      width: 100%;
      height: 100%; }
      .list-box .blog .overlay:hover {
        background-color: #f0f0f0;
        transition: 1s; }
      .list-box .blog .overlay .title {
        position: absolute;
        width: 80%;
        top: 33%;
        transform: translateY(-50%);
        text-align: center;
        left: 50%;
        transform: translateX(-50%); }
        .list-box .blog .overlay .title h2 {
          font-size: 33px;
          color: #2d2d2d;
          font-weight: 700;
          letter-spacing: 2px; }
          .list-box .blog .overlay .title h2:after {
            content: '';
            display: block;
            margin: 0 auto;
            width: 50px;
            height: 3px;
            background-color: #03346f;
            margin-top: 20px;
            margin-bottom: 20px; }
        .list-box .blog .overlay .title p {
          font-size: 18px;
          color: #2d2d2d;
          font-family: Calibri;
          font-weight: 400;
          letter-spacing: 1px; }
  .list-box .about {
    background-image: url(../images/box_09.png);
    width: 33%;
    height: 325px; }
    .list-box .about .overlay {
      background-color: rgba(92, 155, 56, 0.8);
      width: 100%;
      height: 100%; }
      .list-box .about .overlay:hover {
        background-color: #5c9b38;
        transition: 1s; }
      .list-box .about .overlay .title {
        position: absolute;
        width: 80%;
        top: 33%;
        transform: translateY(-50%);
        text-align: center;
        left: 50%;
        transform: translateX(-50%); }
        .list-box .about .overlay .title h2 {
          font-size: 33px;
          color: white;
          font-weight: 700;
          letter-spacing: 2px; }
          .list-box .about .overlay .title h2:after {
            content: '';
            display: block;
            margin: 0 auto;
            width: 50px;
            height: 3px;
            background-color: white;
            margin-top: 20px;
            margin-bottom: 20px; }
        .list-box .about .overlay .title p {
          font-size: 18px;
          color: white;
          font-family: Calibri;
          font-weight: 400;
          letter-spacing: 1px; }
  .list-box .club {
    background-image: url(../images/box_10.png);
    width: 33%;
    height: 325px; }
    .list-box .club .overlay {
      background-color: rgba(245, 245, 245, 0.8);
      width: 100%;
      height: 100%; }
      .list-box .club .overlay:hover {
        background-color: #f0f0f0;
        transition: 1s; }
      .list-box .club .overlay .title {
        position: absolute;
        width: 80%;
        top: 28%;
        transform: translateY(-50%);
        text-align: center;
        left: 50%;
        transform: translateX(-50%); }
        .list-box .club .overlay .title h2 {
          font-size: 33px;
          color: #2d2d2d;
          font-weight: 700;
          letter-spacing: 2px; }
          .list-box .club .overlay .title h2:after {
            content: '';
            display: block;
            margin: 0 auto;
            width: 50px;
            height: 3px;
            background-color: #03346f;
            margin-top: 20px;
            margin-bottom: 20px; }
        .list-box .club .overlay .title p {
          font-size: 18px;
          color: #2d2d2d;
          font-family: Calibri;
          font-weight: 400;
          letter-spacing: 1px; }
  .list-box .select {
    background-image: url(../images/box_12.png);
    width: 33%;
    height: 325px; }
    .list-box .select .overlay {
      background-color: rgba(46, 83, 129, 0.8);
      width: 100%;
      height: 100%; }
      .list-box .select .overlay:hover {
        background-color: #03346f;
        transition: 1s; }
      .list-box .select .overlay .title {
        position: absolute;
        width: 80%;
        top: 33%;
        transform: translateY(-50%);
        text-align: center;
        left: 50%;
        transform: translateX(-50%); }
        .list-box .select .overlay .title h2 {
          font-size: 33px;
          color: white;
          font-weight: 700;
          letter-spacing: 2px; }
          .list-box .select .overlay .title h2:after {
            content: '';
            display: block;
            margin: 0 auto;
            width: 50px;
            height: 3px;
            background-color: white;
            margin-top: 20px;
            margin-bottom: 20px; }
        .list-box .select .overlay .title p {
          font-size: 18px;
          color: white;
          font-family: Calibri;
          font-weight: 400;
          letter-spacing: 1px; }
  .list-box .project {
    background-image: url(../images/box_13.png);
    width: 33%;
    height: 325px; }
    .list-box .project .overlay {
      background-color: rgba(245, 245, 245, 0.8);
      width: 100%;
      height: 100%; }
      .list-box .project .overlay:hover {
        background-color: #f0f0f0;
        transition: 1s; }
      .list-box .project .overlay .title {
        position: absolute;
        width: 80%;
        top: 28%;
        transform: translateY(-50%);
        text-align: center;
        left: 50%;
        transform: translateX(-50%); }
        .list-box .project .overlay .title h2 {
          font-size: 33px;
          color: #2d2d2d;
          font-weight: 700;
          letter-spacing: 2px; }
          .list-box .project .overlay .title h2:after {
            content: '';
            display: block;
            margin: 0 auto;
            width: 50px;
            height: 3px;
            background-color: #03346f;
            margin-top: 20px;
            margin-bottom: 20px; }
        .list-box .project .overlay .title p {
          font-size: 18px;
          color: #2d2d2d;
          font-family: Calibri;
          font-weight: 400;
          letter-spacing: 1px; }
  .list-box .film {
    background-image: url(../images/box_14.png);
    width: 33%;
    height: 325px; }
    .list-box .film .overlay {
      background-color: rgba(46, 83, 129, 0.8);
      width: 100%;
      height: 100%; }
      .list-box .film .overlay:hover {
        background-color: #03346f;
        transition: 1s; }
      .list-box .film .overlay .title {
        position: absolute;
        width: 80%;
        top: 28%;
        transform: translateY(-50%);
        text-align: center;
        left: 50%;
        transform: translateX(-50%); }
        .list-box .film .overlay .title h2 {
          font-size: 33px;
          color: white;
          font-weight: 700;
          letter-spacing: 2px; }
          .list-box .film .overlay .title h2:after {
            content: '';
            display: block;
            margin: 0 auto;
            width: 50px;
            height: 3px;
            background-color: white;
            margin-top: 20px;
            margin-bottom: 20px; }
        .list-box .film .overlay .title p {
          font-size: 18px;
          color: white;
          font-family: Calibri;
          font-weight: 400;
          letter-spacing: 1px; }

.social {
  width: 100%;
  background-color: white;
  height: 100px;
  margin-top: 55px; }
  .social .fb {
    display: block;
    margin: 0 auto;
    width: 47px;
    height: 47px; }
    .social .fb:hover {
      opacity: 0.5;
      transition: 1s;
      cursor: pointer; }

.footbar {
  width: 100%;
  height: 312px;
  background-image: url(../images/img_24.png);
  position: relative;
  z-index: 1; }

footer {
  width: 100%;
  text-align: center;
  background-color: #2e2e2e;
  position: relative;
  z-index: 1; }
  footer p {
    padding: 25px 0;
    color: white;
    font-family: Calibri; }

.hamburger {
  display: none;
  padding-top: 20px;
  cursor: pointer; }

#mobile {
  display: none;
  position: relative;
  width: 100%;
  text-align: center;
  z-index: 1; }
  #mobile li {
    width: 100%;
    background-color: white;
    border-bottom: 1px gray; }

.hidden {
  display: block; }

@media only screen and (max-width: 1180px) {
  #desktop {
    display: none; }
  .hamburger {
    display: block;
    float: right;
    margin-top: 25px;
    margin-right: 50px; }
  header .logo {
    margin-left: 50px; }
  .bg .title-slider h2 {
    letter-spacing: 0; }
    .bg .title-slider h2 .letter {
      letter-spacing: 0; }
  .bg {
    z-index: 1; }
  #mobile {
    z-index: 999; }
    #mobile li {
      padding: 5px 0;
      border-bottom: 1px solid #dfdfdf; }
      #mobile li a {
        width: 100%; } }

@media only screen and (max-width: 1000px) {
  .slider-bg, .slider-bg-1 {
    display: none; }
  .title-slider img {
    display: none; } }

@media only screen and (max-width: 800px) {
  .list-box .blog, .list-box .about, .list-box .club, .list-box .select, .list-box .project, .list-box .film {
    width: 50%;
    background-size: cover; }
  .social {
    margin-top: 400px; } }

@media only screen and (max-width: 500px) {
  .list-box .blog, .list-box .about, .list-box .club, .list-box .select, .list-box .project, .list-box .film {
    width: 100%; }
  .footbar {
    top: 930px; }
  .social img {
    margin-top: 100px; }
  footer {
    height: 80px;
    margin-top: 930px; } }

@media only screen and (max-width: 600px) {
  .bg .title-slider h2 {
    font-size: 36px; }
    .bg .title-slider h2 .letter {
      font-size: 36px; }
  .bg .title-slider h2 .letter {
    margin-left: 0; }
  .bg .title-slider h2 {
    line-height: 55px; } }
