	
    
   
    <div class="footbar">
    </div>
    <footer>
        <p>2017 &copy; Wszystkie prawa zastrzeżone. Projekt <a href="http://mediamass.pl"><img src="assets/images/img_21.png" alt="Mediamass"> </a> </p>
    </footer>


    </div>
	<!-- #page -->

	<!-- build:js_vendor assets/js/vendor.js -->
	<script src="assets/vendor/jquery/jquery-1.11.3.min.js"></script>
	<script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>
	<script src="assets/vendor/modernizr/modernizr.full-2.8.3.min.js"></script>
	<script src="assets/vendor/modernizr/modernizr.display.min.js"></script>
	<script src="assets/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/vendor/popup/dist/jquery.magnific-popup.js" type="text/javascript"></script>
	<!-- endbuild -->
	<!-- build:js_app assets/js/app.js -->
	<script src="assets/js/app.js"></script>
  <script type="text/javascript">
       $.extend(true, $.magnificPopup.defaults, {
        tClose: 'Zamknij (Esc)', // Alt text on close button
        tLoading: 'Ładowanie...', // Text that is displayed during loading. Can contain %curr% and %total% keys
        gallery: {
          tPrev: 'Poprzednie ', // Alt text on left arrow
          tNext: 'Następne ', // Alt text on right arrow
          tCounter: '%curr% z %total%' // Markup for "1 of 7" counter
        },
        image: {
          tError: '<a href="%url%">The image</a> could not be loaded.' // Error message when image could not be loaded
        },
        ajax: {
          tError: '<a href="%url%">The content</a> could not be loaded.' // Error message when ajax request failed
        }
      });
    </script>
    
	<!-- endbuild -->

</body>
</html>