<div class="sidebar col-md-3 col-sm-4 col-xs-12">
                <h3 class="subtitle">WSPÓŁPRACA TO KLUCZ DO SUKCESU</h3>
                <p class="sidebar-about">Z Komitetu Wyborczego Wyborców Krzysztofa Turzańskiego w roku 2010 do Rady Miasta weszło dziewięciu radnych. W roku 2014 z Komitetu Wyborczego Wyborców 
Krzysztofa Turzańskiego i Sławy Umińskiej-Duraj do Rady Miasta wybranych zostało ośmiu radnych. Pracujemy sumiennie popierając dobre rozwiązania, zgłaszając swoje uwagi i wnioski. W Państwa imieniu składamy dziesiątki interpelacji i wniosków, a także przygotowujemy projekty uchwał. 
Z naszej działalności regularnie zdajemy sprawozdania.
Jednocześnie jesteśmy z Wami 
w kontakcie. Udostępniamy swoje adresy e-mail, numery telefonów 
i regularnie, raz w miesiącu spotykamy się na dyżurach radnych. Wszystko dlatego, 
że swoją pracę w Radzie traktujemy poważnie. Współpracujemy przy tym z Prezydent Miasta i jej zastępcą 
a także pozostałymi radnymi, niezależnie od przynależnosci klubowych. Działamy na rzecz miasta i jego mieszkańców.</p>
                <ul class="sidebar-about-list">
                    <li>
                        <a href="interpelacje.html">
                        <h3>INTERPELACJE I WNIOSKI</h3>
                        <p style="padding: 0; margin-bottom: 7px;">Składane w imienniu 
mieszkańców przez radnych klubu</p>
                        </a>
                    </li>
                    <li>
                        <a href="uchwaly.html">
                        <h3>PROJEKTY UCHWAŁ</h3>
                        <p style="padding: 0; margin-bottom: 7px;">Przygotowanych przez radnych 
KWW Krzysztofa Turzańskiego</p>
                        </a>
                    </li>
                    <li>
                        <a href="praca-rady.html">
                        <h3>Z PRACY RADY MIASTA</h3>
                        <p style="padding: 0; margin-bottom: 7px;">Relacje z posiedzeń, nagrania 
sesji sprawozdania z działalności</p>
                        </a>
                    </li>
                    <li>
                        <a href="publikacje.html">
                        <h3>PUBLIKACJE - PRASA O NAS</h3>
                        <p style="padding: 0; margin-bottom: 7px;">Wszystkie dotychczasowe 
publikacje prasowe</p>
                        </a>
                    </li>
                </ul>
                <h3 class="subtitle-link"><a href="galeria.html">GALERIA</a></h3>
                <h3 class="subtitle">KONTAKT</h3>
                <h3 class="green-subtitle">PREZYDENT MIASTA</h3>
                <p class="info-about">Sława Umińska - Duraj</p>
                <p class="info-about">607-990-629</p>
                <p class="info-about">suminska@poczta.fm</p>
                <h3 class="green-subtitle">ZASTĘPCA PREZYDENTA MIASTA</h3>
                <p class="info-about">Krzysztof Turzański</p>
                <p class="info-about">509-234-972</p>
                <p class="info-about">Krzysztof.turzanski@wp.pl</p>
                <div class="newsletter">
                    <h3>NEWSLETTER</h3>
                    <input type="text" name="email" placeholder="Wpisz adres E-mail">
                    <input type="submit" value="Wyślij" name="wyslij">
                </div>
                <div class="social-sidebar">
                    <ul>
                        <li class="facebook"></li>
                        <li class="facebook"></li>
                    </ul>
                </div>
            </div>