<div class="sidebar col-md-3 col-sm-4 col-xs-12">
                <form>
                    <input class="search" type="text" id="szukaj" placeholder="Szukaj...">
                    <input class="search-button" type="submit" value="" id="wyslij">
                </form>
                <h3 class="subtitle">KATEGORIE</h3>
                <ul class="category">
                    <li><a href="#">Audiobook<span class="count">(56)</span></a></li>
                    <li><a href="#">Biznes<span class="count">(56)</span></a></li>
                    <li><a href="#">Dyktator 7 wysp<span class="count">(56)</span></a></li>
                    <li><a href="#">Dyktator w waszej wersji<span class="count">(56)</span></a></li>
                    <li><a href="#">Edukacja<span class="count">(56)</span></a></li>
                    <li><a href="#">Historia<span class="count">(56)</span></a></li>
                    <li><a href="#">Inwestycje<span class="count">(56)</span></a></li>
                    <li><a href="#">Kronika policyjna<span class="count">(56)</span></a></li>
                    <li><a href="#">Kultura<span class="count">(56)</span></a></li>
                    <li><a href="#">Listy<span class="count">(56)</span></a></li>
                    <li><a href="#">Odpady<span class="count">(56)</span></a></li>
                    <li><a href="#">Piekarskie legendy<span class="count">(56)</span></a></li>
                    <li><a href="#">Piekary Śląskie<span class="count">(56)</span></a></li>
                    <li><a href="#">Polityka<span class="count">(56)</span></a></li>
                    <li><a href="#">Polityka<span class="count">(56)</span></a></li>
                    <li><a href="#">Polityka<span class="count">(56)</span></a></li>
                    <li><a href="#">Polityka<span class="count">(56)</span></a></li>
                    <li><a href="#">Polityka<span class="count">(56)</span></a></li>
                    <li><a href="#">Polityka<span class="count">(56)</span></a></li>
                </ul>
                <h3 class="subtitle">ARCHIWUM</h3>
                <ul class="archive">
                    <li>2016</li>
                    <li>2015</li>
                    <li>2014</li>
                    <li>2013</li>
                    <li>2012</li>
                    <li>
                        <ul class="sub-archive">
                            <li>Grudzień 2012</li>
                            <li>Listopad 2012</li>
                        </ul>
                    </li>
                </ul>
                <h3 class="subtitle">POPULARNE POSTY</h3>
                <ul class="popular">
                    <li><a href="#">Proin gravida nibh vel velit auctor aliquet.</a></li>
                    <li><a href="#">Proin gravida nibh vel velit auctor aliquet.</a></li>
                    <li><a href="#">Proin gravida nibh vel velit auctor aliquet.</a></li>
                    <li><a href="#">Proin gravida nibh vel velit auctor aliquet.</a></li>
                </ul>
                <h3 class="subtitle-link"><a href="galeria.html">GALERIA</a></h3>
                <h3 class="subtitle">KONTAKT</h3>
                <h3 class="green-subtitle">PREZYDENT MIASTA</h3>
                <p class="info-about">Sława Umińska - Duraj</p>
                <p class="info-about">607-990-629</p>
                <p class="info-about">suminska@poczta.fm</p>
                <h3 class="green-subtitle">ZASTĘPCA PREZYDENTA MIASTA</h3>
                <p class="info-about">Krzysztof Turzański</p>
                <p class="info-about">509-234-972</p>
                <p class="info-about">Krzysztof.turzanski@wp.pl</p>
                <div class="newsletter">
                    <h3>NEWSLETTER</h3>
                    <input type="text" name="email" placeholder="Wpisz adres E-mail">
                    <input type="submit" value="Wyślij" name="wyslij">
                </div>
                <div class="social-sidebar">
                    <ul>
                        <li class="facebook"></li>
                        <li class="facebook"></li>
                    </ul>
                </div>
            </div>