<!-- @include{.header.html} -->

<section class="bg">
            <div class="slider-bg-blog">
            </div>
            <div class="slider-bg-1-blog"></div>
            
            <div class="title-slider">
                <h2>KRZYSZTOF TURZAŃSKI <br> <span class="letter">SŁAWA UMIŃSKA-DURAJ</span></h2>
                <img src="assets/images/podpis_07.png" alt="Krzysztof Turzański" class="krzysztof">
                <img src="assets/images/podpis-slawa_03.png" alt="Sława Umińska-Duraj" class="slawa">
            </div>
</section>

<main id="aboutme">
    <div class="container">
        <div class="background-about">
            <div class="white-about">
                <div class="wrapper-about-text">
                    <h3>Szanowni państwo,</h3>
                    <p>Każdy z nas posiada inne doświadczenia z działalności zawodowej i społecznej. 
    Łączy nas jednak dostrzeganie problemów miasta i jego mieszkańców a także potrzeba zmian 
    na lepsze. Dlatego też od lat współpracujemy organizując w Piekarach Śląskich szereg akcji społecznych, kulturalnych i charytatywnych.</p>
                    <p>W roku 2010 wspólnie założyliśmy komitet wyborczy i wystartowaliśmy w wyborach 
    samorządowych wprowadzając do Rady Miasta 9 radnych. 
    Przez kolejne cztery lata działaliśmy wspólnie w Radzie Miasta 
    w ramach Klubu Radnych Krzysztofa Turzańskiego. </p>
                    <p>W roku 2014 wystartowaliśmy ponownie w wyborach samorządowych osiągając sukces. 
    Sława Umińska-Duraj objęła funkcję Prezydenta Miasta. Stanowisko swojego zastępcy powierzyła Krzysztofowi Turzańskiemu. Do Rady Miasta wprowadziliśmy 8 radnych, którzy funkcjonują w ramach Obywatelskiego Klubu Radnych. Podejmujemy współprace merytoryczną na rzecz piekarskiego samorządu ze wszystkimi radnymi, niezależnie od opcji politycznych i podziałów wyborczych.
    Mocno współpracujemy dalej z pozostałymi kandydatami z KWW Krzysztofa Turzańskiego i Sławy Umińskiej-Duraj. Możemy liczyć na ich wsparcie a zwłaszcza, tak potrzebną, obiektywną ocenę podejmowanych przez nas decyzji w działalności samorządowej i zarządzaniu miastem. Naszym celem pozostaje zapewnienie jak najlepszego rozwoju Piekar Śląskich.</p>
                </div>
            </div>
        </div>
    </div>
   <div class="container">
        <div class="row">
          
            <div class="about-content col-md-9 col-sm-8 col-xs-12">
                <div class="wrapper-timeline">
                    <h3>SŁAWA UMIŃSKA DURAJ <span class="small-title">- najważniejsze informacje</span></h3>
                    <div class="point" >
                        <div class="date">1984-1992</div>
                        <p class="description-point">
                            Szkoła podstawowa
                        </p>
                    </div>
                    <div class="point">
                        <div class="date">1992-1996</div>
                        <p class="description-point">
                            I Liceum Ogólnokształcące w Piekarach Śląskich 
                        </p>
                    </div>
                    <div class="point">
                        <div class="date">1996-1999</div>
                        <p class="description-point">
                            II Nauczycielskie Kolegium Języków Obcych w Sosnowcu 
                        </p>
                    </div>
                    <div class="point">
                        <div class="date">1998</div>
                        <p class="description-point">
                            Staż na Uniwersytecie Artois w Douai 
                        </p>
                    </div>
                    <div class="point">
                        <div class="date">1999-2002</div>
                        <p class="description-point">
                           Międzynarodowa Szkoła Nauk Politycznych Uniwersytetu Śląskiego w Katowicach - Filia Instytutu Nauk Politycznych w Bordeaux; 3-letnie studnia magisterskie uzupełniające

                        </p>
                    </div>
                    <div class="point">
                        <div class="date">2000-nadal</div>
                        <p class="description-point">
                            Rozpoczęci działalności w stowarzyszeniu Komitet Obywatelski miasta 
    Piekary Śląskie 
                        </p>
                    </div>
                    <div class="point">
                        <div class="date">2001</div>
                        <p class="description-point">
                            Staż w Campus International w Tulonie 
                        </p>
                    </div>
                    <div class="point">
                        <div class="date">2001</div>
                        <p class="description-point">
                            Staż w Trybunale Administracyjnym w Paryżu 
                        </p>
                    </div>
                    <div class="point">
                        <div class="date">1984-1992</div>
                        <p class="description-point">
                            Asystentka dyrektora w Ośrodku Polskiego Komitetu Alliance Francaise 
    przy Uniwersytecie Śląskim w Katowicach 
                        </p>
                    </div>
                    <div class="point">
                        <div class="date">2002-2003</div>
                        <p class="description-point">
                            Asystentka dyrektora w Ośrodku Polskiego Komitetu Alliance Francaise 
    przy Uniwersytecie Śląskim w Katowicach 
                        </p>
                    </div>
                </div>
                
                <div class="wrapper-timeline">
                    <h3>KRZYSZTOF TURZAŃSKI <span class="small-title">- najważniejsze informacje</span></h3>
                    <div class="point" >
                        <div class="date">1984-1992</div>
                        <p class="description-point">
                            Szkoła podstawowa
                        </p>
                    </div>
                    <div class="point">
                        <div class="date">1992-1996</div>
                        <p class="description-point">
                            I Liceum Ogólnokształcące w Piekarach Śląskich 
                        </p>
                    </div>
                    <div class="point">
                        <div class="date">1996-1999</div>
                        <p class="description-point">
                            II Nauczycielskie Kolegium Języków Obcych w Sosnowcu 
                        </p>
                    </div>
                    <div class="point">
                        <div class="date">1998</div>
                        <p class="description-point">
                            Staż na Uniwersytecie Artois w Douai 
                        </p>
                    </div>
                    <div class="point">
                        <div class="date">1999-2002</div>
                        <p class="description-point">
                           Międzynarodowa Szkoła Nauk Politycznych Uniwersytetu Śląskiego w Katowicach - Filia Instytutu Nauk Politycznych w Bordeaux; 3-letnie studnia magisterskie uzupełniające

                        </p>
                    </div>
                    <div class="point">
                        <div class="date">2000-nadal</div>
                        <p class="description-point">
                            Rozpoczęci działalności w stowarzyszeniu Komitet Obywatelski miasta 
    Piekary Śląskie 
                        </p>
                    </div>
                    <div class="point">
                        <div class="date">2001</div>
                        <p class="description-point">
                            Staż w Campus International w Tulonie 
                        </p>
                    </div>
                    <div class="point">
                        <div class="date">2001</div>
                        <p class="description-point">
                            Staż w Trybunale Administracyjnym w Paryżu 
                        </p>
                    </div>
                    <div class="point">
                        <div class="date">1984-1992</div>
                        <p class="description-point">
                            Asystentka dyrektora w Ośrodku Polskiego Komitetu Alliance Francaise 
    przy Uniwersytecie Śląskim w Katowicach 
                        </p>
                    </div>
                    <div class="point">
                        <div class="date">2002-2003</div>
                        <p class="description-point">
                            Asystentka dyrektora w Ośrodku Polskiego Komitetu Alliance Francaise 
    przy Uniwersytecie Śląskim w Katowicach 
                        </p>
                    </div>
                </div>
            </div>
          <!-- @include{.sidebar-about.html} -->
        </div>
    </div>
</main>

 <!-- @include{.footer.html} -->



