<!-- @include{.header.html} -->

 <section class="bg">
            <div class="slider-bg-blog">
            </div>
            <div class="slider-bg-1-blog"></div>
            
            <div class="title-slider">
                <h2>KRZYSZTOF TURZAŃSKI <br> <span class="letter">SŁAWA UMIŃSKA-DURAJ</span></h2>
                <img src="assets/images/podpis_07.png" alt="Krzysztof Turzański" class="krzysztof">
                <img src="assets/images/podpis-slawa_03.png" alt="Sława Umińska-Duraj" class="slawa">
            </div>
</section>

<main> 
    <div class="container">
        <div class="row">
            <div class="list-post col-md-9 col-sm-8 col-xs-12">
                <div class="main-post-full">
                    <div class="wrapper-image">
                        <img class="big-post" src="assets/images/main-galeria_03.png">
                    </div>
                    <div class="description-post-full">
                        <p class="date">Foto źródło: UM Piekary Śląskie</p>
                        <h2>Problem zabytków - wreszcie rozwiązany?</h2>
                        <p>Prezydent RP Andrzej Duda gościł w Piekarach Śląskich 23 listopada 2016 roku. W spotkaniu uczestniczyli m.in. Prezydent Piekar Śląskich Sława Umińska-Duraj, zastępca Krzysztof Turzański 
i przedstawiciele Obywatelskiego Klubu Radnych: Natalia Ciupińska-Szoska, Maciek Czempiel, 
Łukasz Ściebiorowski, Helena Warczok.
                        </p> 
                        <div class="gallery">
                            <div class="popup-gallery">
                              <div class="row">
                                <div class="item-photo col-md-4 col-sm-6 col-xs-12">
                                  <a href="assets/images/gallery-item_03.png">
                                      <img class="gallery-item" src="assets/images/gallery-item_03.png" alt="">
                                  </a>
                                </div>
                                <div class="item-photo col-md-4 col-sm-6 col-xs-12">
                                  <a href="assets/images/gallery-item_03.png">
                                      <img class="gallery-item" src="assets/images/gallery-item_03.png" alt="">
                                  </a>
                                </div>
                                <div class="item-photo col-md-4 col-sm-6 col-xs-12">
                                  <a href="assets/images/gallery-item_03.png">
                                      <img class="gallery-item" src="assets/images/gallery-item_03.png" alt="">
                                  </a>
                                </div>
                                <div class="item-photo col-md-4 col-sm-6 col-xs-12">
                                  <a href="assets/images/gallery-item_03.png">
                                      <img class="gallery-item" src="assets/images/gallery-item_03.png" alt="">
                                  </a>
                                </div>
                                <div class="item-photo col-md-4 col-sm-6 col-xs-12">
                                  <a href="assets/images/gallery-item_03.png">
                                      <img class="gallery-item" src="assets/images/gallery-item_03.png" alt="">
                                  </a>
                                </div>
                                <div class="item-photo col-md-4 col-sm-6 col-xs-12">
                                  <a href="assets/images/gallery-item_03.png">
                                      <img class="gallery-item" src="assets/images/gallery-item_03.png" alt="">
                                  </a>
                                </div>
                              </div>
                                   
                            </div>
                        </div>
                </div>
                
            </div>
        </div>
          <!-- @include{.sidebar-about.html} -->
    </div>
</main>

<!-- @include{.footer.html} -->