<!-- @include{.header.html} -->

 <section class="bg">
            <div class="slider-bg-blog">
            </div>
            <div class="slider-bg-1-blog"></div>
            
            <div class="title-slider">
                <h2>KRZYSZTOF TURZAŃSKI <br> <span class="letter">SŁAWA UMIŃSKA-DURAJ</span></h2>
                <img src="assets/images/podpis_07.png" alt="Krzysztof Turzański" class="krzysztof">
                <img src="assets/images/podpis-slawa_03.png" alt="Sława Umińska-Duraj" class="slawa">
            </div>
</section>

<main id="page-main">
    <div class="container">
        <div class="row">
            <div class="list-post col-md-9 col-sm-8 col-xs-12">
                <div class="row">
                    <div class="single-post col-md-6 col-sm-12 col-xs-12">
                        <div class="wrapper-image">
                            <a href="galeria-single.html"><img src="assets/images/video_03.png"></a>
                        </div>
                        <div class="description-post">
                            <p class="date">17 grudnia, 2016</p>
                            <a href="galeria-single.html"><h2>Problem zabytków - wreszcie rozwiązany?</h2></a>
                            <p>Wiele niespodziewanych problemów formalnych spowodowało przyznanie dotacji na remonty zabytków sakralnych.
         </p>               <p><a href="galeria-single.html">Czytaj więcej</a></p>
                        </div>
                        <p class="comments"><img src="assets/images/comment_07.png">3 komentarze</p>
                    </div>
                    <div class="single-post col-md-6 col-sm-12 col-xs-12">
                        <div class="wrapper-image">
                            <a href="galeria-single.html"><img src="assets/images/video_03.png"></a>
                        </div>
                        <div class="description-post">
                            <p class="date">17 grudnia, 2016</p>
                            <a href="galeria-single.html"><h2>Problem zabytków - wreszcie rozwiązany?</h2></a>
                            <p>Wiele niespodziewanych problemów formalnych spowodowało przyznanie dotacji na remonty zabytków sakralnych.
         </p>               <p><a href="galeria-single.html">Czytaj więcej</a></p>
                        </div>
                        <p class="comments"><img src="assets/images/comment_07.png">3 komentarze</p>
                    </div>
                </div>
                <div class="row">
                    <div class="single-post col-md-6 col-sm-12 col-xs-12">
                        <div class="wrapper-image">
                            <a href="galeria-single.html"><img src="assets/images/video_03.png"></a>
                        </div>
                        <div class="description-post">
                            <p class="date">17 grudnia, 2016</p>
                            <a href="galeria-single.html"><h2>Problem zabytków - wreszcie rozwiązany?</h2></a>
                            <p>Wiele niespodziewanych problemów formalnych spowodowało przyznanie dotacji na remonty zabytków sakralnych.
         </p>               <p><a href="galeria-single.html">Czytaj więcej</a></p>
                        </div>
                        <p class="comments"><img src="assets/images/comment_07.png">3 komentarze</p>
                    </div>
                    <div class="single-post col-md-6 col-sm-12 col-xs-12">
                        <div class="wrapper-image">
                            <a href="galeria-single.html"><img src="assets/images/single-post_11.png"></a>
                        </div>
                        <div class="description-post">
                            <p class="date">17 grudnia, 2016</p>
                            <a href="galeria-single.html"><h2>Problem zabytków - wreszcie rozwiązany?</h2></a>
                            <p>Wiele niespodziewanych problemów formalnych spowodowało przyznanie dotacji na remonty zabytków sakralnych.
         </p>               <p><a href="galeria-single.html">Czytaj więcej</a></p>
                        </div>
                        <p class="comments"><img src="assets/images/comment_07.png">3 komentarze</p>
                    </div>
                </div>
                <div class="row">
                    <div class="single-post col-md-6 col-sm-12 col-xs-12">
                        <div class="wrapper-image">
                            <a href="galeria-single.html"><img src="assets/images/single-post_11.png"></a>
                        </div>
                        <div class="description-post">
                            <p class="date">17 grudnia, 2016</p>
                            <a href="galeria-single.html"><h2>Problem zabytków - wreszcie rozwiązany?</h2></a>
                            <p>Wiele niespodziewanych problemów formalnych spowodowało przyznanie dotacji na remonty zabytków sakralnych.
         </p>               <p><a href="galeria-single.html">Czytaj więcej</a></p>
                        </div>
                        <p class="comments"><img src="assets/images/comment_07.png">3 komentarze</p>
                    </div>
                    <div class="single-post col-md-6 col-sm-12 col-xs-12">
                        <div class="wrapper-image">
                            <a href="galeria-single.html"><img src="assets/images/single-post_11.png"></a>
                        </div>
                        <div class="description-post">
                            <p class="date">17 grudnia, 2016</p>
                            <a href="galeria-single.html"><h2>Problem zabytków - wreszcie rozwiązany?</h2></a>
                            <p>Wiele niespodziewanych problemów formalnych spowodowało przyznanie dotacji na remonty zabytków sakralnych.
         </p>               <p><a href="galeria-single.html">Czytaj więcej</a></p>
                        </div>
                        <p class="comments"><img src="assets/images/comment_07.png">3 komentarze</p>
                    </div>
                </div>
                <div class="pagi">
                    <a href="#"><div class="nav-prev"></div></a>
                    <ul class="pagination">
                        <li>1</li>
                        <li class="active">2</li>
                        <li>3</li>
                    </ul>
                    <a href="#"><div class="nav-next"></div></a>
                </div>
            </div>
          <!-- @include{.sidebar-about.html} -->
        </div>
    </div>
</main>

<!-- @include{.footer.html} -->