<!-- @include{.header.html} -->

		<div class="container-max">
            <section class="bg">
            <div class="slider-bg">
            </div>
            <div class="slider-bg-1"></div>
            
            <div class="title-slider">
                <h2>KRZYSZTOF TURZAŃSKI <br> <span class="letter">SŁAWA UMIŃSKA-DURAJ</span></h2>
                <img src="assets/images/podpis_07.png" alt="Krzysztof Turzański" class="krzysztof">
                <img src="assets/images/podpis-slawa_03.png" alt="Sława Umińska-Duraj" class="slawa">
            </div>
            <div class="list-box">
                <a href="blog.html">
                    <article class="box blog">
                        <div class="overlay">
                            <div class="title">
                                <h2>BLOG</h2>
                                <p>Proin gravida nibh vel velit <br> auctor aliquet.</p>
                            </div>
                        </div>
                    </article>
                </a>
                <a href="about.html">
                    <article class="box about">
                        <div class="overlay">
                            <div class="title">
                                <h2>O NAS</h2>
                                <p>Łączy nas dostrzeganie <br> problemów miasta</p>
                            </div>
                        </div>
                    </article>
                </a>
                <a href="okr.html">
                    <article class="box club">
                        <div class="overlay">
                            <div class="title">
                                <h2>OBYWATELSKI <br> KLUB RADNYCH</h2>
                                <p>Rady Miasta Piekary <br> Śląskie</p>
                            </div>
                        </div>
                    </article>
                </a>
                <a href="#">
                    <article class="box select">
                        <div class="overlay">
                            <div class="title">
                                <h2>WYBORY</h2>
                                <p>Proin gravida nibh vel velit auctor aliquet. </p>
                            </div>
                        </div>
                    </article>
                </a>
                <a href="projekt-umwetu.html">
                    <article class="box project">
                        <div class="overlay">
                            <div class="title">
                                <h2>PROJEKT <br> UMWETU</h2>
                                <p>Zmieniamy na lepsze <br> najbliższą nam okolicę</p>
                            </div>
                        </div>
                    </article>
                </a>
                <a href="materialy-filmowe.html">
                    <article class="box film">
                        <div class="overlay">
                            <div class="title">
                                <h2>MATERIAŁY <br> FILMOWE</h2>
                                <p>Proin gravida nibh vel velit auctor aliquet. </p>
                            </div>
                        </div>
                    </article>
                </a>
            </div>

        </section>
            
</div>

<div class="social">
            <ul>
                <li class="facebook"></li>
                <li class="facebook"></li>
            </ul>
        </div>
        

<!-- @include{.footer.html} -->