<!-- @include{.header.html} -->

<section class="bg">
            <div class="slider-bg-blog">
            </div>
            <div class="slider-bg-1-blog"></div>
            
            <div class="title-slider">
                <h2>KRZYSZTOF TURZAŃSKI <br> <span class="letter">SŁAWA UMIŃSKA-DURAJ</span></h2>
                <img src="assets/images/podpis_07.png" alt="Krzysztof Turzański" class="krzysztof">
                <img src="assets/images/podpis-slawa_03.png" alt="Sława Umińska-Duraj" class="slawa">
            </div>
</section>

<main id="page-main">
    <div class="row">
        <div class="container">
            <div class="list-post col-md-9 col-sm-8 col-xs-12">
                <div class="wrapper-okr">
                    <h3 class="title-subpage">ZŁOŻONE WNIOSKI I INTERPELACJE</h3>
                    <p class="desc-subpage">Wszystkie wnioski i interpelacje składane w Państwa imieniu do prezydenta, przewodniczącego Rady Miasta i innych instytucji</p>
                    
                    <div class="wrapper-conclusion">
                        <p class="inter-title">Wniosek i odpowiedź w sprawie ustawienia kosza na śmieci w okolicy 
    ul. Oświęcimskiej i Makuszyńskiego</p>
                        <p>Piekary Śląskie 30.10.2014</p>
                        <p>
Łukasz Ściebiorowski Radny Rady Miasta Piekary Śląskie</p>
                        <p>Szanowny Pan
Stanisław KorfantyPrezydent Miasta Piekary Śląskie</p>
                        <p><span style="font-weight: 700;display: block;">Wniosek</span>
Zwracam się z wnioskiem o ustawienie przynajmniej jednego kosza na śmieci 
na  chodniku  zlokalizowanym przy ul. Oświęcimskiej w okolicy skrzyżowania 
z ul. Makuszyńskiego.W rejonie tym znajdują się sklepy, punkty usługowe i duży 
ruch pieszych, realizacja wniosku jest więc zasadna.</p>
                        <a href="#"><img src="assets/images/download_10.png" alt="">POBIERZ PLIK</a>
                    </div>
                    
                    
                    
                </div>
                
                </div>
                <!-- @include{.sidebar-about.html} -->
            </div>
        </div>
    </div>
</main>

 <!-- @include{.footer.html} -->
