<!-- @include{.header.html} -->

<section class="bg">
            <div class="slider-bg-blog">
            </div>
            <div class="slider-bg-1-blog"></div>
            
            <div class="title-slider">
                <h2>KRZYSZTOF TURZAŃSKI <br> <span class="letter">SŁAWA UMIŃSKA-DURAJ</span></h2>
                <img src="assets/images/podpis_07.png" alt="Krzysztof Turzański" class="krzysztof">
                <img src="assets/images/podpis-slawa_03.png" alt="Sława Umińska-Duraj" class="slawa">
            </div>
</section>

<main id="page-main">
    <div class="row">
        <div class="container">
            <div class="list-post col-md-9 col-sm-8 col-xs-12">
                <div class="wrapper-okr">
                    <h3 class="title-subpage">ZŁOŻONE WNIOSKI I INTERPELACJE</h3>
                    <p class="desc-subpage">Wszystkie wnioski i interpelacje składane w Państwa imieniu do prezydenta, przewodniczącego Rady Miasta i innych instytucji</p>
                    
                    <div class="wrapper-buttons-change">
                        <a class="date-change" href="#2010" role="tab" data-toggle="tab">2010-2014</a>
                        <a class="date-change" href="#2014" role="tab" data-toggle="tab">2014-2018</a>
                    </div>
                    
                    <div class="wrapper-conclusion tab-content">
                        <ul class="conclusion tab-pane fade" id="2010" role="tabpanel" id="2010">
                            <li><a href="interpelacje-single.html">Wniosek i odpowiedź w sprawie ustawienia kosza na śmieci w       okolicy ul. OświęcimskiejxXx 
                                i Makuszyńskiego</a>
                            </li>
                        </ul>
                        <ul class="conclusion tab-pane fade" id="2014" role="tabpanel" id="2014">
                            <li><a href="interpelacje-single.html">Wniosek i odpowiedź w sprawie ustawienia kosza na śmieci w       okolicy ul. Oświęcimskiej 
                                i Makuszyńskiego</a>
                            </li>
                          <li><a href="interpelacje-single.html">Wniosek i odpowiedź w sprawie ustawienia kosza na śmieci w       okolicy ul. Oświęcimskiej 
                                i Makuszyńskiego</a>
                            </li>
                          <li><a href="interpelacje-single.html">Wniosek i odpowiedź w sprawie ustawienia kosza na śmieci w       okolicy ul. Oświęcimskiej 
                                i Makuszyńskiego</a>
                            </li>
                          <li><a href="interpelacje-single.html">Wniosek i odpowiedź w sprawie ustawienia kosza na śmieci w       okolicy ul. Oświęcimskiej 
                                i Makuszyńskiego</a>
                            </li>
                          <li><a href="interpelacje-single.html">Wniosek i odpowiedź w sprawie ustawienia kosza na śmieci w       okolicy ul. Oświęcimskiej 
                                i Makuszyńskiego</a>
                            </li>
                          <li><a href="interpelacje-single.html">Wniosek i odpowiedź w sprawie ustawienia kosza na śmieci w       okolicy ul. Oświęcimskiej 
                                i Makuszyńskiego</a>
                            </li>
                        </ul>
                    </div>
                    
                </div>
                
                </div>
          <!-- @include{.sidebar-about.html} -->
            </div>
        </div>
    </div>
</main>

 <!-- @include{.footer.html} -->
