<!-- @include{.header.html} -->

<section class="bg">
            <div class="slider-bg-blog">
            </div>
            <div class="slider-bg-1-blog"></div>
            
            <div class="title-slider">
                <h2>KRZYSZTOF TURZAŃSKI <br> <span class="letter">SŁAWA UMIŃSKA-DURAJ</span></h2>
                <img src="assets/images/podpis_07.png" alt="Krzysztof Turzański" class="krzysztof">
                <img src="assets/images/podpis-slawa_03.png" alt="Sława Umińska-Duraj" class="slawa">
            </div>
</section>

<main id="page-main">
    <div class="row">
        <div class="container">
            <div class="okr-single-content col-md-9 col-sm-8 col-xs-12">
                <div class="av"><img src="assets/images/avatar_03.jpg" alt=""></div>
                <div class="desc-okr-single">
                    <h3>HELENA WARCZOK</h3>
                    <h4>Liczba wniosków i interpelacji: 4</h4>
                    <p>Rodowita piekarzanka. Wykształcenie wyższe, szczęśliwa mężatka - matka dorosłej córki. Obecnie Dyrektorka biblioteki w Psarach a w przeszłości wieloletnia dyrektorka biblioteki piekarskiej. W kadencji 2010-2014 radna Klubu Radnych Krzysztofa Turzańskiego. Chętnie angażuje się 
w różnego rodzaju akcje kulturalne i społeczne (wspierała organizację "Testu Wiedzy Obywatelskiej - Piekarski Gimnazjalista Omnibus) a szczególnie bliskiej jej są problemy osób niepełnosprawnych. Uczestniczka spotkań Piekarskiego Forum Kobiet. Jej zainteresowania 
to oczywiście książki ale i również sport w formie rekreacyjnej, rower, pływanie i ostatnio nordic-walking.  
W wyborach do Rady Miasta w roku 2014 uzyskała ponownie mandat z wynikiem 478 głosów. Uczestniczy 
w pracach komisji: Budżetowo - Gospodarczej; Edukacji, Kultury i Sportu. Członek Rady Programowej Dzielnicowego Domu Kultury w kadencji 2015-2016. </p>
                    <h4>Kontakt:</h4>
                    <p class="contact"><img src="assets/images/phone_03.png">518-494-175</p>
                    <p class="contact"><img src="assets/images/email_06.jpg">andzrej.wymyslo@wp.pl</p>
                    <h4 class="meet-okr">Spotkania z mieszkańcami</h4>
                    <p class="contact"><img src="assets/images/calendar_03.png">518-494-175</p>
                    <p class="contact"><img src="assets/images/place_06.png">andzrej.wymyslo@wp.pl</p>
                    <p class="contact"><img src="assets/images/time_08.png">518-494-175</p>
                    <h4 class="meet-okr">Złożone wnioski i interpelacje:</h4>
                    <a href="#"><p class="contact"><img src="assets/images/download_10.png">518-494-175</p></a>
                </div>
                
            </div>
            <!-- sidebar about-->
        </div>
    </div>
</main>



<!-- @include{.footer.html} -->