<!-- @include{.header.html} -->

<section class="bg">
            <div class="slider-bg-blog">
            </div>
            <div class="slider-bg-1-blog"></div>
            
            <div class="title-slider">
                <h2>KRZYSZTOF TURZAŃSKI <br> <span class="letter">SŁAWA UMIŃSKA-DURAJ</span></h2>
                <img src="assets/images/podpis_07.png" alt="Krzysztof Turzański" class="krzysztof">
                <img src="assets/images/podpis-slawa_03.png" alt="Sława Umińska-Duraj" class="slawa">
            </div>
</section>

<main id="page-main">
    <div class="row">
        <div class="container">
            <div class="list-post col-md-9 col-sm-8 col-xs-12">
                <div class="wrapper-okr">
                    <h3 class="title-subpage">OBYWATELSKI KLUB RADNYCH</h3>
                    <p class="desc-subpage">Rady Miasta Piekary Śląskie - został powołany na spotkaniu założycielskim w dniu 
                8.12.2014. W jego skład wchodzą radni wybrani w wyborach samorządowych 16 listopada 
                2014 z Komitetu Wyborczego Wyborców Krzysztofa Turzańskiego i Sławy Umińskiej-Duraj: 
                Natalia Ciupińska, Maciej Czempiel, Tomasz Flodrowski, Grzegorz Gowarzewski, Stanisław 
                Plajzner, Łukasz Ściebiorowski, Helena Warczok, Andrzej Wymysło.</p>
                    <p class="desc-subpage">W poprzedniej kadencji rady miasta 2010-2014 radni: Tomasz Flodrowski, Grzegorz 
    Gowarzewski, Stanisław Plajzner, Łukasz Ściebiorowski, Helena Warczok byli członkami 
    Klubu Radnych Krzysztofa Turzańskiego. Radni: Natalia Ciupińska, Maciej Czempiel, 
    Andrzej Wymysło pełnią funkcję radnego pierwszy raz.</p>
                    <p class="desc-subpage">Funkcję przewodniczącego Obywatelskiego Klubu Radnych pełni, zgodnie z wyborem 
    jego członków, radny Łukasz Ściebiorowski a sekretarza radna Helena Warczok.

    Radni OKR pozostają do Państwa dyspozycji pod publicznie podawanymi numerami 
    telefonów i adresami mailowymi, które znajdują się również w Biuletynie Informacji 
    Publicznej, oraz poprzez Biuro Rady Miasta. Spotykamy się z Państwem również na 
    dyżurach radnych.</p>
                </div>
                
                <div class="wrapper-zone">
                    <div class="zone">
                        <h3>OKRĘG I</h3>
                        <ul>
                            <li>Stanisław Plajzner</li>
                            <li>Stanisław Plajzner</li>
                            <li>Stanisław Plajzner</li>
                        </ul>
                    </div>
                    <div class="zone">
                        <h3>OKRĘG II</h3>
                        <ul>
                            <li>Stanisław Plajzner</li>
                            <li>Stanisław Plajzner</li>
                            <li>Stanisław Plajzner</li>
                        </ul>
                    </div>
                    <div class="zone">
                        <h3>OKRĘG III</h3>
                        <ul>
                            <li>Stanisław Plajzner</li>
                            <li>Stanisław Plajzner</li>
                            <li>Stanisław Plajzner</li>
                        </ul>
                    </div>
                </div>
                
                <div class="list">
                    <h3 class="title-list">SPIS RADNYCH:</h3>
                    <div class="line">
                        <div class="av"><a href="okr-single.html"><img src="assets/images/avatar_03.jpg" alt=""></a></div>
                        <div class="personal">
                            <a href="okr-single.html"><h3>ANDRZEJ WYMYSŁO</h3></a>
                            <h4>Licznik wniosków i interpelacji: 28</h4>
                            <p class="desc-personal">Rodowity piekarzanin i szczęśliwy mąż, ojciec i dziadek. Przez 25 lat pracował jako górnik. Obecnie na emeryturze, jednak wolny czas poświęca na promowanie aktywności fizycznej. Reprezentuje Przegląd Piekarski w biegach masowych, maratonach i półmaratonach. Medalista... </p>
                            <h4>Kontakt:</h4>
                            <p class="contact"><img src="assets/images/phone_03.png" alt="">518-494-175</p>
                            <p class="contact"><img src="assets/images/email_06.jpg" alt="">andzrej.wymyslo@wp.pl</p>
                        </div>
                    </div>
                    <div class="line">
                        <div class="av"><a href="okr-single.html"><img src="assets/images/avatar_03.jpg" alt=""></a></div>
                        <div class="personal">
                            <a href="okr-single.html"><h3>ANDRZEJ WYMYSŁO</h3></a>
                            <h4>Licznik wniosków i interpelacji: 28</h4>
                            <p class="desc-personal">Rodowity piekarzanin i szczęśliwy mąż, ojciec i dziadek. Przez 25 lat pracował jako górnik. Obecnie na emeryturze, jednak wolny czas poświęca na promowanie aktywności fizycznej. Reprezentuje Przegląd Piekarski w biegach masowych, maratonach i półmaratonach. Medalista... </p>
                            <h4>Kontakt:</h4>
                            <p class="contact"><img src="assets/images/phone_03.png" alt="">518-494-175</p>
                            <p class="contact"><img src="assets/images/email_06.jpg" alt="">andzrej.wymyslo@wp.pl</p>
                        </div>
                    </div>
                    <div class="line">
                        <div class="av"><a href="okr-single.html"><img src="assets/images/avatar_03.jpg" alt=""></a></div>
                        <div class="personal">
                            <a href="okr-single.html"><h3>ANDRZEJ WYMYSŁO</h3></a>
                            <h4>Licznik wniosków i interpelacji: 28</h4>
                            <p class="desc-personal">Rodowity piekarzanin i szczęśliwy mąż, ojciec i dziadek. Przez 25 lat pracował jako górnik. Obecnie na emeryturze, jednak wolny czas poświęca na promowanie aktywności fizycznej. Reprezentuje Przegląd Piekarski w biegach masowych, maratonach i półmaratonach. Medalista... </p>
                            <h4>Kontakt:</h4>
                            <p class="contact"><img src="assets/images/phone_03.png" alt="">518-494-175</p>
                            <p class="contact"><img src="assets/images/email_06.jpg" alt="">andzrej.wymyslo@wp.pl</p>
                        </div>
                    </div>
                    <div class="line">
                        <div class="av"><a href="okr-single.html"><img src="assets/images/avatar_03.jpg" alt=""></a></div>
                        <div class="personal">
                            <a href="#"><h3>ANDRZEJ WYMYSŁO</h3></a>
                            <h4>Licznik wniosków i interpelacji: 28</h4>
                            <p class="desc-personal">Rodowity piekarzanin i szczęśliwy mąż, ojciec i dziadek. Przez 25 lat pracował jako górnik. Obecnie na emeryturze, jednak wolny czas poświęca na promowanie aktywności fizycznej. Reprezentuje Przegląd Piekarski w biegach masowych, maratonach i półmaratonach. Medalista... </p>
                            <h4>Kontakt:</h4>
                            <p class="contact"><img src="assets/images/phone_03.png" alt="">518-494-175</p>
                            <p class="contact"><img src="assets/images/email_06.jpg" alt="">andzrej.wymyslo@wp.pl</p>
                        </div>
                    </div>
                    <div class="line">
                        <div class="av"><a href="okr-single.html"><img src="assets/images/avatar_03.jpg" alt=""></a></div>
                        <div class="personal">
                            <a href="#"><h3>ANDRZEJ WYMYSŁO</h3></a>
                            <h4>Licznik wniosków i interpelacji: 28</h4>
                            <p class="desc-personal">Rodowity piekarzanin i szczęśliwy mąż, ojciec i dziadek. Przez 25 lat pracował jako górnik. Obecnie na emeryturze, jednak wolny czas poświęca na promowanie aktywności fizycznej. Reprezentuje Przegląd Piekarski w biegach masowych, maratonach i półmaratonach. Medalista... </p>
                            <h4>Kontakt:</h4>
                            <p class="contact"><img src="assets/images/phone_03.png" alt="">518-494-175</p>
                            <p class="contact"><img src="assets/images/email_06.jpg" alt="">andzrej.wymyslo@wp.pl</p>
                        </div>
                    </div>
                </div>
                
            </div>
            <!-- @include{.sidebar-about.html} -->
        </div>
    </div>
</main>

 <!-- @include{.footer.html} -->
