<!-- @include{.header.html} -->

 <section class="bg">
            <div class="slider-bg-blog">
            </div>
            <div class="slider-bg-1-blog"></div>
            
            <div class="title-slider">
                <h2>KRZYSZTOF TURZAŃSKI <br> <span class="letter">SŁAWA UMIŃSKA-DURAJ</span></h2>
                <img src="assets/images/podpis_07.png" alt="Krzysztof Turzański" class="krzysztof">
                <img src="assets/images/podpis-slawa_03.png" alt="Sława Umińska-Duraj" class="slawa">
            </div>
</section>

<main>
    <div class="container">
        <div class="row">
            <div class="list-post col-md-9 col-sm-8 col-xs-12">
                <div class="main-post-full">
                    <img class="post-thumbnail" src="assets/images/post_header_03.png" alt="">
                    <div class="description-post-full">
                        <p class="date">17 grudnia, 2016</p>
                        <h2>Problem zabytków - wreszcie rozwiązany?</h2>
                        <p>Wiele niespodziewanych problemów formalnych spowodowało przyznanie dotacji na remonty zabytków sakralnych. W tym roku skorzystała jedynie parafia w Brzezinach Śląskich, natomiast 
parafie w Dąbrówce Wielkiej i Kozłowej Górze nie podpisały umów na dofinansowanie. Problem spowodowały niefortunnie sformułowane wnioski, których parafie nie byłyby wstanie rozliczyć. </p>
                        <p>Po wielogodzinnych pracach nad nową uchwałą (trzeba podkreślić duże zaangażowanie radnych wszystkich klubów) i zmianie budżetu na rok przyszły udało się znaleźć rozwiązanie. 
Parafie skorzystają z tych środków na początku przyszłego roku, pieniądze zostały na ten cel zabezpieczone, a uchwała, na podstawie której są przyznawane – została właściwie napisana od nowa. </p>
                        <p>Mam nadzieję, że kolejnych „schodów” nie będzie. Z naszej strony osoby przyjmujące wnioski – 
będą sprawdzały je nie tylko pod kątem formalnym, ale również pod kątem możliwości rozliczenia 
ich w przyszłości przez parafie. Jak widać wspieranie remontów obiektów zabytkowych rodzi się 
w bólach, towarzyszą temu czasami niezdrowe emocje, ale trzeba pamiętać, że cały czas mówimy 
o pieniądzach publicznych, których przekazanie podlega określonym regułom prawnym. 
Nie ma możliwości ich naginania lub obchodzenia. Mam nadzieję, że wszyscy wyciągnęliśmy 
wnioski i w przyszłym roku podobnych problemów nie będzie.
</p>
                        
                    </div>
                </div>
                <div class="pagi-post">
                    <a href="#"><div class="nav-prev"></div></a>
                    <a href="#"><div class="nav-next"></div></a>
                </div>
                
                <div class="comments">
                    <h3>KOMENTARZE</h3>
                    <div class="comment">
                        <div class="image"></div>
                        <div class="content-comment">
                            <h4>Imię Nazwisko <span class="date">28 Grudnia, 2016</span></h4>
                            <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
                        </div>
                    </div>
                    <div class="comment">
                        <div class="image"></div>
                        <div class="content-comment">
                            <h4>Imię Nazwisko <span class="date">28 Grudnia, 2016</span></h4>
                            <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
                        </div>
                    </div>
                    <div class="comment">
                        <div class="image"></div>
                        <div class="content-comment">
                            <h4>Imię Nazwisko <span class="date">28 Grudnia, 2016</span></h4>
                            <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
                        </div>
                    </div>
                    <h3>DODAJ KOMENTARZ</h3>
                    <form>
                        <input type="text" name="imie" placeholder="Imie">
                        <input type="text" name="email" placeholder="E-mail">
                        <textarea placeholder="Napisz komentarz"></textarea>
                        <input class="submit-form" type="submit" value="">
                    </form>
                </div>
                
          </div>
            <!-- @include{.sidebar.html} -->
        </div>
    </div>
</main>

<!-- @include{.footer.html} -->