<!-- @include{.header.html} -->

 <section class="bg">
            <div class="slider-bg-blog">
            </div>
            <div class="slider-bg-1-blog"></div>
            
            <div class="title-slider">
                <h2>KRZYSZTOF TURZAŃSKI <br> <span class="letter">SŁAWA UMIŃSKA-DURAJ</span></h2>
                <img src="assets/images/podpis_07.png" alt="Krzysztof Turzański" class="krzysztof">
                <img src="assets/images/podpis-slawa_03.png" alt="Sława Umińska-Duraj" class="slawa">
            </div>
</section>

<main id="page-main">
    <div class="container">
        <div class="row">
            <div class="list-post col-md-9 col-sm-8 col-xs-12">
                <h3 class="title-subpage blue">PROJEKT UMWETU</h3>
                <p class="desc-subpage">Projekt UMWETU to realizacja naszego pomysłu na różnego rodzaju akcje społeczne. 
Nazwa miała być egzotyczna, bo pomysł jest niecodzienny. Idea się sprawdziła i pod tym szyldem działamy już parę lat. Grono osób zaangażowanych w pracę nieustannie się zmienia, 
ale cel pozostaje ten sam. Zamiast na wszystko narzekać - zmieniać na lepsze najbliższą nam okolicę.

	Projekt UMWETU to nie nazwa organizacji. Sztywne ramy nie są nam do niczego potrzebne. Uczestników poszczególnych akcji nie łączą żadne formalności, a jedynie chęć wykonania konkretnego zadania. Tak to niestety jest, że zwykle o pracy społecznej łatwiej mówić, 
niż naprawdę ją wykonywać. Nie chcemy wpisywać się w ten nurt. Na stronie projektu 
UMWETU prezentujemy i dokumentujemy zakończone już akcje</p>
                <h3 class="title-subpage">TURZANROCK" CZYLI MUZYCZNA BITWA</h3>
                <p class="desc-subpage">Mieszkańcy piekarskich slamsów o swoim "osiedlu" - mówią "Paryż". Z przekory. Wizyta w takim miejscu musi robić wrażenie. Bez wody, bez ubikacji, bez przyszłości. Dzieciaki bawiące się na sypiących się ruinach, kluby w chlewikach i z każdego kąta ziejąca bieda. Widać też brud i zaniedbanie. Widać, że wielu mieszkańców za kołnierz nie wylewa. Chociaż do wieczora było daleko - niektórzy byli pijani. Nie można mieć żadnych wątpliwości - to slamsy. A w ich środku całkiem fajne dzieciaki. I to właśnie tym dzieciakom postanowiliśmy pomóc.</p>
                <div class="row">
                    <div class="single-post col-md-6 col-sm-12 col-xs-12">
                        <div class="wrapper-image">
                            <a href="post.html"><img src="assets/images/single-post_11.png" alt=""></a>
                        </div>
                        <div class="description-post">
                            <p class="date">17 grudnia, 2016</p>
                            <a href="post.html"><h2>Problem zabytków - wreszcie rozwiązany?</h2></a>
                            <p>Wiele niespodziewanych problemów formalnych spowodowało przyznanie dotacji na remonty zabytków sakralnych.
         </p>               <p><a href="post.html">Czytaj więcej</a></p>
                        </div>
                        <p class="comments"><img src="assets/images/comment_07.png" alt="">3 komentarze</p>
                    </div>
                    <div class="single-post col-md-6 col-sm-12 col-xs-12">
                        <div class="wrapper-image">
                            <a href="post.html"><img src="assets/images/single-post_11.png" alt=""></a>
                        </div>
                        <div class="description-post">
                            <p class="date">17 grudnia, 2016</p>
                            <a href="post.html"><h2>Problem zabytków - wreszcie rozwiązany?</h2></a>
                            <p>Wiele niespodziewanych problemów formalnych spowodowało przyznanie dotacji na remonty zabytków sakralnych.
         </p>               <p><a href="post.html">Czytaj więcej</a></p>
                        </div>
                        <p class="comments"><img src="assets/images/comment_07.png" alt="">3 komentarze</p>
                    </div>
                </div>
                <div class="row">
                    <div class="single-post col-md-6 col-sm-12 col-xs-12">
                        <div class="wrapper-image">
                            <a href="post.html"><img src="assets/images/single-post_11.png" alt=""></a>
                        </div>
                        <div class="description-post">
                            <p class="date">17 grudnia, 2016</p>
                            <a href="post.html"><h2>Problem zabytków - wreszcie rozwiązany?</h2></a>
                            <p>Wiele niespodziewanych problemów formalnych spowodowało przyznanie dotacji na remonty zabytków sakralnych.
         </p>               <p><a href="post.html">Czytaj więcej</a></p>
                        </div>
                        <p class="comments"><img src="assets/images/comment_07.png" alt="">3 komentarze</p>
                    </div>
                    <div class="single-post col-md-6 col-sm-12 col-xs-12">
                        <div class="wrapper-image">
                            <a href="post.html"><img src="assets/images/single-post_11.png" alt=""></a>
                        </div>
                        <div class="description-post">
                            <p class="date">17 grudnia, 2016</p>
                            <a href="post.html"><h2>Problem zabytków - wreszcie rozwiązany?</h2></a>
                            <p>Wiele niespodziewanych problemów formalnych spowodowało przyznanie dotacji na remonty zabytków sakralnych.
         </p>               <p><a href="post.html">Czytaj więcej</a></p>
                        </div>
                        <p class="comments"><img src="assets/images/comment_07.png" alt="">3 komentarze</p>
                    </div>
                </div>
                <div class="row">
                    <div class="single-post col-md-6 col-sm-12 col-xs-12">
                        <div class="wrapper-image">
                            <a href="post.html"><img src="assets/images/single-post_11.png" alt=""></a>
                        </div>
                        <div class="description-post">
                            <p class="date">17 grudnia, 2016</p>
                            <a href="post.html"><h2>Problem zabytków - wreszcie rozwiązany?</h2></a>
                            <p>Wiele niespodziewanych problemów formalnych spowodowało przyznanie dotacji na remonty zabytków sakralnych.
         </p>               <p><a href="post.html">Czytaj więcej</a></p>
                        </div>
                        <p class="comments"><img src="assets/images/comment_07.png" alt="">3 komentarze</p>
                    </div>
                    <div class="single-post col-md-6 col-sm-12 col-xs-12">
                        <div class="wrapper-image">
                            <a href="post.html"><img src="assets/images/single-post_11.png" alt=""></a>
                        </div>
                        <div class="description-post">
                            <p class="date">17 grudnia, 2016</p>
                            <a href="post.html"><h2>Problem zabytków - wreszcie rozwiązany?</h2></a>
                            <p>Wiele niespodziewanych problemów formalnych spowodowało przyznanie dotacji na remonty zabytków sakralnych.
         </p>               <p><a href="post.html">Czytaj więcej</a></p>
                        </div>
                        <p class="comments"><img src="assets/images/comment_07.png" alt="">3 komentarze</p>
                    </div>
                </div>
                <div class="pagi">
                    <a href="#"><div class="nav-prev"></div></a>
                    <ul class="pagination">
                        <li>1</li>
                        <li class="active">2</li>
                        <li>3</li>
                    </ul>
                    <a href="#"><div class="nav-next"></div></a>
                </div>
            </div>
          <!-- @include{.sidebar-umwetu.html} -->
        </div>
    </div>
</main>

<!-- @include{.footer.html} -->