@import "includes/bourbon/bourbon";
@import "includes/fonts";
@import "includes/defaults";
@import "includes/modifiers";
@import "includes/bootstrap-modifiers";

@import "themes/default";

//@import "elements/default";

//@import "sections/default";

//@import "pages/default";

html, body, header, main, section, p, h1, h2, h3, h4, h5, a, ul, li, img {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    outline: none;
  &:focus {
    outline: none;
    text-decoration: none;
  }
  &:active {
    text-decoration: none !important;
  }
  &:visited {
    text-decoration: none;
  }
}

a:hover {
  color: #5bad2c;
}

@font-face {
  font-family: 'Calibri';
  src: url('../font/Calibri.ttf');
}

* {
    box-sizing: border-box;
}


$color: #03346f;

.container {
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
}

header {
    width: 100%;
    height: 110px;
    background-color: white;
    .container {
        border-bottom: 1px solid #e5e5e5;
        height: 100%;
    }
    .logo-wrap {
        width: 5%;
        height: 110px;
        float: left;
    }
    .logo {
        background-image: url(../images/img_03.png);
        text-indent: -9999px;
        width: 59px;
        height: 60px;
        float: left;
        margin-top: 27px;
        margin-left: -15px;
    }
    nav{
        margin: 0 auto;
        margin-top: 17px;
        float: right;
        margin-bottom: 30px;
    }
    #desktop {
        li {
            display: inline-block;
            float: left;
            margin-top: 20px;
            padding-left: 24px;
            font-size: 21px;
            letter-spacing: 1px;
            a {
                font-family: Calibri, 'Calibri';
                color: #3d3d3d;
                padding-bottom: 5px;
                &:hover {
                    color: #3d3d3d;
                    text-decoration: none;
                    border-bottom: 2px solid #5bad2c;
                }
            }
        }
        .slash {
            color: #5bad2c;
            padding-left: 24px;
        }
    }
}

.bg {
    width: 100%;
    height: 1200px;
    position: relative;
    z-index: 1;
    top: 10px;
    .slider-bg {
        background-image: url(../images/turzanski_02.png);
        background-repeat: no-repeat;
        width: 374px;
        height: 933px;
        position: fixed;
        left: 0;
    }
    .slider-bg-1 {
        background-image: url(../images/slawa_05.png);
        background-repeat: no-repeat;
        width: 356px;
        height: 933px;
        position: fixed;
        right: 0;
    }
    .slider-bg-blog {
        background-image: url(../images/turzanski_blog_02.png);
        background-repeat: no-repeat;
        width: 374px;
        height: 933px;
        position: absolute;
        left: 0;
    }
    .slider-bg-1-blog {
        background-image: url(../images/slawa_blog_03.png);
        background-repeat: no-repeat;
        width: 345px;
        height: 933px;
        position: absolute;
        right: 0;
    }
    .title-slider {
        text-align: center;
        background-image: url(../images/img_07.png);
        background-repeat: no-repeat;
        width: 100%;
        height: 479px;
        background-position: center;
        z-index: 999;
        .krzysztof {
            position: absolute;
            top: 35%;
            left: 18%;
        }
        .slawa {
            position: absolute;
            top: 34%;
            right: 18%;
        }
        h2 {
            font-family: 'Oswald', sans-serif;
            font-size: 60px;
            letter-spacing: 6px;
            line-height: 75px;
            font-weight: 700;
            color: #505050;
            position: relative;
            top: 32%;
            .letter {
                letter-spacing: 7px;
                font-size: 59px;
                margin-left: -5px !important;
            }
        }
    }
}

.container-max {
    width: 100%;
    position: relative;
    margin-bottom: 340px;
}

.list-box {
    width: 100%;
    max-width: 976px;
    margin: 0 auto;
    margin-top: 15px;
    .box {
        background-color: red;
        float: left;
        width: 33%;
        height: 325px;
        position: relative;
    }
    .blog {
        background-image: url(../images/box_08.png);
        width: 33%;
        height: 325px;
        background-repeat: no-repeat;
        .overlay {
            background-color: rgba(245, 245, 245, 0.8);
            width: 100%;
            height: 100%;
            &:hover {
                background-color: #f0f0f0;
                transition: 1s;
            }
            .title {
                position: absolute;
                width: 80%;
                top: 33%;
                transform: translateY(-50%);
                text-align: center;
                left: 50%;
                transform: translateX(-50%);
                h2 {
                    font-size: 33px;
                    color: #2d2d2d;
                    font-weight: 700;
                    letter-spacing: 2px;
                    &:after {
                        content: '';
                        display: block;
                        margin: 0 auto;
                        width: 50px;
                        height: 3px;
                        background-color: #03346f;
                        margin-top: 20px;
                        margin-bottom: 20px;
                    }
                }
                p {
                    font-size: 18px;
                    color: #2d2d2d;
                    font-family: Calibri, 'Calibri';
                    font-weight: 400;
                    letter-spacing: 1px;
                }
            }
        }
    }
    .about {
        background-image: url(../images/box_09.png);
        width: 33%;
        height: 325px;
        .overlay {
            background-color: rgba(92, 155, 56, 0.8);
            width: 100%;
            height: 100%;
            &:hover {
                background-color: #5c9b38;
                transition: 1s;
            }
            .title {
                position: absolute;
                width: 80%;
                top: 33%;
                transform: translateY(-50%);
                text-align: center;
                left: 50%;
                transform: translateX(-50%);
                h2 {
                    font-size: 33px;
                    color: white;
                    font-weight: 700;
                    letter-spacing: 2px;
                    &:after {
                        content: '';
                        display: block;
                        margin: 0 auto;
                        width: 50px;
                        height: 3px;
                        background-color: white;
                        margin-top: 20px;
                        margin-bottom: 20px;
                    }
                }
                p {
                    font-size: 18px;
                    color: white;
                    font-family: Calibri, 'Calibri';
                    font-weight: 400;
                    letter-spacing: 1px;
                }
            }
        }
    }
    .club {
        background-image: url(../images/box_10.png);
        width: 33%;
        height: 325px;
        .overlay {
            background-color: rgba(245, 245, 245, 0.8);
            width: 100%;
            height: 100%;
            &:hover {
                background-color: #f0f0f0;
                transition: 1s;
            }
            .title {
                position: absolute;
                width: 80%;
                top: 28%;
                transform: translateY(-50%);
                text-align: center;
                left: 50%;
                transform: translateX(-50%);
                h2 {
                    font-size: 33px;
                    color: #2d2d2d;
                    font-weight: 700;
                    letter-spacing: 2px;
                    &:after {
                        content: '';
                        display: block;
                        margin: 0 auto;
                        width: 50px;
                        height: 3px;
                        background-color: #03346f;
                        margin-top: 20px;
                        margin-bottom: 20px;
                    }
                }
                p {
                    font-size: 18px;
                    color: #2d2d2d;
                    font-family: Calibri, 'Calibri';
                    font-weight: 400;
                    letter-spacing: 1px;
                }
            }
        }
    }
    .select {
        background-image: url(../images/box_12.png);
        width: 33%;
        height: 325px;
        .overlay {
            background-color: rgba(46, 83, 129, 0.8);
            width: 100%;
            height: 100%;
            &:hover {
                background-color: #03346f;
                transition: 1s;
            }
            .title {
                position: absolute;
                width: 80%;
                top: 33%;
                transform: translateY(-50%);
                text-align: center;
                left: 50%;
                transform: translateX(-50%);
                h2 {
                    font-size: 33px;
                    color: white;
                    font-weight: 700;
                    letter-spacing: 2px;
                    &:after {
                        content: '';
                        display: block;
                        margin: 0 auto;
                        width: 50px;
                        height: 3px;
                        background-color: white;
                        margin-top: 20px;
                        margin-bottom: 20px;
                    }
                }
                p {
                    font-size: 18px;
                    color: white;
                    font-family: Calibri, 'Calibri';
                    font-weight: 400;
                    letter-spacing: 1px;
                }
            }
        }
    }
    .project {
        background-image: url(../images/box_13.png);
        width: 33%;
        height: 325px;
        .overlay {
            background-color: rgba(245, 245, 245, 0.8);
            width: 100%;
            height: 100%;
            &:hover {
                background-color: #f0f0f0;
                transition: 1s;
            }
            .title {
                position: absolute;
                width: 80%;
                top: 28%;
                transform: translateY(-50%);
                text-align: center;
                left: 50%;
                transform: translateX(-50%);
                h2 {
                    font-size: 33px;
                    color: #2d2d2d;
                    font-weight: 700;
                    letter-spacing: 2px;
                    &:after {
                        content: '';
                        display: block;
                        margin: 0 auto;
                        width: 50px;
                        height: 3px;
                        background-color: #03346f;
                        margin-top: 20px;
                        margin-bottom: 20px;
                    }
                }
                p {
                    font-size: 18px;
                    color: #2d2d2d;
                    font-family: Calibri, 'Calibri';
                    font-weight: 400;
                    letter-spacing: 1px;
                }
            }
        }
    }
    .film {
        background-image: url(../images/box_14.png);
        width: 33%;
        height: 325px;
        .overlay {
            background-color: rgba(46, 83, 129, 0.8);
            width: 100%;
            height: 100%;
            &:hover {
                background-color: #03346f;
                transition: 1s;
            }
            .title {
                position: absolute;
                width: 80%;
                top: 28%;
                transform: translateY(-50%);
                text-align: center;
                left: 50%;
                transform: translateX(-50%);
                h2 {
                    font-size: 33px;
                    color: white;
                    font-weight: 700;
                    letter-spacing: 2px;
                    &:after {
                        content: '';
                        display: block;
                        margin: 0 auto;
                        width: 50px;
                        height: 3px;
                        background-color: white;
                        margin-top: 20px;
                        margin-bottom: 20px;
                    }
                }
                p {
                    font-size: 18px;
                    color: white;
                    font-family: Calibri, 'Calibri';
                    font-weight: 400;
                    letter-spacing: 1px;
                }
            }
        }
    }
}

.social {
    width: 200px;
    margin: 0 auto;
    background-color: white;
    height: 100px;
    margin-top: 55px;
    text-align: center;
    position: relative;
    li {
        display: inline-block;
        margin: 0 auto;
    }
    .facebook {
        background-image: url(../images/facebook_03_03.png);
        width: 48px;
        height: 47px;
    }
    .facebook:hover {
        background-image: url(../images/facebook_03-hover_03.png);
        transition: .5s;
        cursor: pointer
    }
}

.footbar {
    width: 100%;
    height: 312px;
    background-image: url(../images/img_24.png);
    position: relative;
    z-index: 1;
}

footer {
    width: 100%;
    text-align: center;
    background-color: #2e2e2e;
    position: absolute;
    z-index: 1;
    p {
        padding: 25px 0;
        color: white;
        font-family: Calibri, 'Calibri';
    }
}

.hamburger {
    display: none;
    padding-top: 20px;
    cursor: pointer;
}

#mobile {
    display: none;
    position: relative;
    text-align: center;
    z-index: 1;
    li {
        display: block;
        background-color: white;
        border-bottom: 1px gray;
      a {
        display: block;
        width: 100%;
        padding: 15px 0;
      }
    }
}

.hidden {
    display: block;
}

main {
    margin-top: -690px;
    width: auto;
    height: auto;
    
    position: relative;
}

.wrapper-image-vid {
        overflow: hidden;
        width: 100%;
        height: 100%;
    a:before {
            content: '';
            background-image:url(../images/play_03.png);
            width: 54px;
            height: 67px;
            position: absolute;
            top: 17%;
            left: 50%;
        transform: translateX(-50%);
            z-index: 999;
        }
}

.wrapper-image {
        overflow: hidden;
        width: 100%;
        height: 100%;
}




.main-post {
    position: relative;
    z-index: 999;
    padding: 0 15px;
    .big-post {
        width: 100%;
        z-index: 999;
        position: relative;
        overflow:hidden;
        transition: 1s;
        &:hover {
            transform: scale(1.1); 
        }
    }
    .date {
        color: #808080;
        font-size: 18px;
        font-family: Calibri, 'Calibri';
        margin-top: 15px;
    }
    h2 {
        font-size: 24px;
        color: #212121;
        text-transform: uppercase;
        letter-spacing: 3px;
        font-weight: 700;
        margin-top: 20px;
        &:hover {
            color: $color;
        }
    }
    p {
        font-size: 18px;
        color: #212121;
        line-height: 25px;
        font-family: Calibri, 'Calibri';
        margin-top: 30px;
        margin-bottom: 25px;
    }
    a {
        color: #212121;
        text-decoration: none;
        font-family: Calibri, 'Calibri';
        font-size: 18px;
        &:hover {
            color: $color;
        }
    }
    .description-post {
        border-bottom: 1px solid #e8e8e8;
        height: auto;
        img {
            width: 30%;
            margin-right: 3%;
            margin-top: 20px;
        }
        p {
            color: black;
        }
        .date {
            color: #808080;
        }
    }
    .comments {
        color: #807f7f;
        font-size: 18px;
        img {
            margin-right: 5px;
        }
        margin-top: 0;
        margin-top: 10px;
        h3 {
            padding-left: 0;
        }
    }
}

.main-post-full {
    position: relative;
    z-index: 999;
    .post-thumbnail {
        width: 100%;
        z-index: 999;
        position: relative;
    }
    h2 {
        font-size: 24px;
        color: #212121;
        text-transform: uppercase;
        letter-spacing: 3px;
        font-weight: 700;
        margin-top: 20px;
    }
    a {
        color: #212121;
        text-decoration: none;
        font-family: Calibri, 'Calibri';
        font-size: 18px;
    }
    .description-post-full {
        height: auto;
        p {
        font-size: 18px;
        color: #212121;
        line-height: 25px;
        font-family: Calibri, 'Calibri';
        margin-top: 25px;
    }
        .date {
        color: #808080;
        font-size: 18px;
        font-family: Calibri, 'Calibri';
        margin-top: 10px;
    }
    }
    .comments {
        color: #807f7f;
        font-size: 18px;
        img {
            margin-right: 5px;
        }
        margin-top: 0;
        margin-top: 10px;
    }
}

.date-change {
    padding: 3px 15px;
    background-color: white;
    color: #5bad2c;
    border: 1px solid #5bad2c;
    &:hover {
        background-color: #5bad2c;
        color: white;
        text-decoration: none;
    }
    &:focus{
      background-color: #5bad2c;
      color: white;
  }
}

.wrapper-buttons-change {
    width: 100%;
    margin-top: 50px;
    margin-left: 15px;
}


.wrapper-conclusion {
    width: 100%;
    padding: 0 15px;
    ul {
        margin-top: 35px;
        li {
            padding: 15px 0;
            border-bottom: 1px solid #f2f2f2;
            a {
                font-family: Calibri, 'Calibri';
                font-size: 18px;
                font-weight: 700;
                color: #03346f;
                &:hover {
                    color: #5bad2c;
                    text-decoration: none;
                }
            }
            
        }
    }
}


.gallery {
    margin-top: 100px;
  .gallery-item {
    width: 100%;
    margin-top: 25px;
    cursor: zoom-in;
  }
}

.list-post {
    position: relative;
    z-index: 999;
    h3 {
        font-size: 29px;
        color: $color;
        letter-spacing: 2px;
        margin-top: 24px;
        font-weight: 700;
        &:last-of-type {
            color: black;
        }
    }
    p {
        font-size: 20px;
        color: $color;
        font-family: Calibri, 'Calibri';
        margin: 25px 0;
        &:last-of-type {
            color: black;
        }
    }
    .umwetu-desc-blue {
        color: $color !important;
    }
    .blue {
        color: $color !important;
    }
}

.comments {
    h3 {
        margin-left: 0;
        padding-left: 0;
    }
}

.single-post {
    position: relative;
    z-index: 995;
    margin-top: 50px;
    .date {
        color: #808080;
        font-size: 18px;
        font-family: Calibri, 'Calibri';
        margin-top: 15px;
        margin-bottom: 0;
    }
    h2 {
        font-size: 24px;
        color: #212121;
        text-transform: uppercase;
        letter-spacing: 3px;
        font-weight: 700;
        margin-top: 20px;
        line-height: 35px;
        &:hover {
            color: $color;
        }
    }
    p {
        font-size: 18px;
        color: #212121;
        line-height: 25px;
        font-family: Calibri, 'Calibri';
        margin-top: 30px;
        margin-bottom: 25px;
    }
    img {
        width: 100%;
        transition: 1s;
        &:hover {
            transform: scale(1.1); 
        }
    }
    a {
        color: #212121;
        text-decoration: none;
        font-family: Calibri, 'Calibri';
        font-size: 18px;
        &:hover {
            color: $color;
        }
    }
    .description-post {
        border-bottom: 1px solid #e8e8e8;
        height: auto;
    }
    .comments {
        color: #807f7f;
        font-size: 18px;
        img {
            margin-right: 5px;
            width: 20px;
            height: 30px;
        }
        margin-top: 0;
        margin-top: 10px;
    }
}

.pagi {
    margin-top: 45px;
    .nav-prev {
        background-image: url(../images/prev_15.png);
        width: 37px;
        height: 37px;
        float: left;
        &:hover {
            background-image: url(../images/left-hover_20.png);
        }
    }
    .nav-next {
      background-image: url(../images/next_15.png);
        width: 37px;
        height: 37px; 
        float: left;
        &:hover {
            background-image: url(../images/right-hover_20.png);
        }
    }
}

.pagi-post {
    padding-bottom: 150px;
    margin-top: 45px;
    border-bottom: 1px solid #e5e5e5;
    .nav-prev {
        background-image: url(../images/prev_15.png);
        width: 37px;
        height: 37px;
        float: left;
        &:hover {
            background-image: url(../images/left-hover_20.png);
        }
    }
    .nav-next {
      background-image: url(../images/next_15.png);
        width: 37px;
        height: 37px; 
        float: left;
        margin-left: -1px;
        &:hover {
            background-image: url(../images/right-hover_20.png);
        }
    }
}
.pagination {
    margin: 8px 10px;
    float: left;
    li {
        padding: 0 10px;
        color: #807f7f;
        font-weight: 400;
    }
    .active {
        color: #03346f;
        font-weight: 700;
    }
}

.bottom {
    padding-bottom: -25;
}

.sidebar {
    z-index: 1;
    form {
        .search {
            width: 80%;
            border: 1px solid #d6dee8;
            font-family: Calibri, 'Calibri';
            height: 48px;
            font-size: 18px;
            padding-left: 10px;
            line-height: 18px;
            position: relative;
            border-right: none;
            color: #03346f;
            &:focus {
                outline: none;
            }
        }
        .search-button {
            width: 50px;
            height: 48px;
            background-color: white;
            border: 1px solid #d6dee8;
            background-image: url(../images/search-button_03.png);
            height: 48px;
            width: 48px;
            position: absolute;
            border-left: none;
            &:focus {
                outline: none;
            }
            &:hover {
                background-image: url(../images/search-hover_06.png);
                border-color: #5bad2c;
            }
        }
    }
    .subtitle {
        color: #03346f;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 2px;
        margin: 25px 0;
    }
    
    .subtitle-link {
        color: #03346f;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 2px;
        margin: 55px 0;
        a {
            font-family: 'Oswald';
            text-decoration: none;
            color: $color;
            &:hover {
                text-decoration: none;
                color: #5bad2c;
            }
        }
        
        
    }
    .green-subtitle {
        color: #5bad2c;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 2px;
        line-height: 30px;
        margin-top: 40px;
    }
    .category {
        margin-top: 20px;
        width: 100%;
        li {
            font-family: Calibri, 'Calibri';
            padding: 5px 0;
            color: #03346f;
            position: relative;
            font-size: 18px;
            transition: .5s;
            a {
                font-family: Calibri, 'Calibri';
                color: $color;
                &:hover {
                    color: #5bad2c;
                    text-decoration: none;
                }
                &:hover span {
                    color: #5bad2c;
                }
            }
        }
        .count {
            text-align: right;
            position: absolute;
            right: 0;
            color: $color;
            font-weight: 100;
        }
    }
    .archive {
        margin-top: 20px;
        list-style-image: url(../images/list-type_07.png);
        margin-left: 15px;
            li {
                padding: 5px 0;
                font-family: Calibri, 'Calibri';
                color: #03346f;
                font-weight: 700;
                font-size: 18px;
                transition: .5s;
            &:hover {
                opacity: 0.6;
            }
            }
        .sub-archive li {
            font-weight: 400;
        }
    }
    .popular {
        margin-top: 20px;
        li {
            color: #03346f;
            font-weight: 400;
            font-size: 18px;
            padding: 10px 0;
            border-bottom: 1px solid #e5e5e5;
            font-family: Calibri, 'Calibri';
            transition: .5s;
            a {
                font-family: Calibri, 'Calibri';
                color: $color;
                &:hover {
                    color: #5bad2c;
                    text-decoration: none;
                }
            }
        }
    }
    p {
        font-family: Calibri, 'Calibri';
        color: #03346f !important;
        font-size: 18px;
        letter-spacing: 1px;
    }
    .info-about {
        margin-top: 15px;
        line-height: 25px;
    }
    .newsletter {
        background-image: url(../images/newsletter_11.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        max-width: 300px;
        height: 221px;
        margin-top: 90px;
        position: relative;
        h3 {
            color: white;
            font-weight: 400;
            letter-spacing: 1px;
            padding-top: 30px;
            margin-left: 30px;
            font-size: 18px;
        }
        input[type="text"] {
            position: absolute;
            transform: translateX(-50%);
            top: 80px;
            width: 80%;
            left: 50%;
            height: 37px;
            font-weight: 100;
            background-color: rgba(255, 255, 255, 0.2);
            border: none;
            color: white;
            padding: 10px;
            border-radius: 5px;
            &:focus {
                background-color: rgba(255, 255, 255, 0.9);
                color: #03346f;
                outline: none;
            }
        }
        input[type="submit"] {
            position: absolute;
            transform: translateX(-50%);
            top: 130px;
            width: 80%;
            left: 50%;
            height: 37px;
            background: none;
            border: 1px solid white;
            border-radius: 5px;
            font-weight: 100;
            font-size: 16px;
            color: white;
            &:hover {
                background-color: white;
                color: #03346f;
                transition: .5s;
            }
            &:focus {
                outline: none;
            }
        }
    }
    .social-sidebar {
        width: 200px;
        background-color: white;
        height: 100px;
        margin-top: 55px;
        position: relative;
        li {
        display: inline-block;
        margin: 0 auto;
    }
    .facebook {
        background-image: url(../images/facebook_03_03.png);
        width: 48px;
        height: 47px;
    }
    .facebook:hover {
        background-image: url(../images/facebook_03-hover_03.png);
        transition: .5s;
        cursor: pointer
    }
    }
}


.inter-title {
     font-size: 20px;
     color: #03346f !important;
     font-weight: 700;
     font-family: Calibri, 'Calibri';
}

.wrapper-conclusion {
    img {
        margin-right: 15px;
    }
    a {
        font-size: 21px;
        color: $color;
        &:hover {
            color: #5bad2c;
            text-decoration: none;
        }
    }
}
.comments {
    width: 100%;
    h3 {
        color: black;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 2px;
        margin-top: 40px;
    }
    .comment {
        height: auto;
        border-bottom: 1px solid #ebebeb;
        .image {
            width: 65px;
            height: 65px;
            background-color: #ebebeb;
            border-radius: 50%;
            float: left;
            margin-top: 42px;
        }
        .content-comment {
            margin-left: 95px;
            padding-top: 40px;
            padding-bottom: 40px;
            h4 {
                font-size: 18px;
                font-family: Calibri, 'Calibri';
                font-weight: 700;
                .date {
                    color: #808080;
                    font-size: 18px;
                    font-family: Calibri, 'Calibri';
                    margin-top: 10px;
                    font-weight: 400;
                    margin-left: 25px;
                    font-size: 16px;
                    letter-spacing: 0;
                }
            }
            p {
                font-family: Calibri, 'Calibri';
                margin-top: 10px;
                font-size: 18px;
            }
        }
    }
    form {
        position: relative;
        width: 100%;
        margin-top: 30px;
        input[type="text"] {
            margin: 0;
            padding: 0;
            width: 48%;
            height: 45px;
            font-family: Calibri, 'Calibri';
            font-size: 18px;
            padding-left: 16px;
            color: #03346f;
            border: 1px solid #d9e1ea;
            &:focus {
                outline: none;
                border-color: $color;
            }
        }
        input[type="text"]:first-child {
            margin-right: 3%;
        }
        textarea {
            outline: none;
            width: 100%;
            font-family: Calibri, 'Calibri';
            font-size: 18px;
            resize: none;
            padding-left: 15px;
            color: #03346f;
            border: 1px solid #d9e1ea;
            margin-top: 30px;
            height: 140px;
            padding-top: 15px;
            position: relative;
            &:focus {
                outline: none;
                border-color: $color;
            }
        }
        .submit-form {
            background-image: url(../images/submit_03.png);
            width: 38px;
            height: 38px;
            border: none;
            position: absolute;
            right: 0;
            top: 174px;
            right: 3px;
        }
    }
}

#aboutme {
    position: relative;
    z-index: 999;
    .background-about {
        background-image: url(../images/background-about_03.png);
        width: 100%;
        height: 663px;
        position: relative;
        margin-bottom: 50px;
        .white-about {
            position: absolute;
            left: 2%;
            top: 3%;
            background-color: white;
            width: 96%;
            height: 94%;
            padding: 25px 0;
            .wrapper-about-text {
                width: 80%;
                margin: 0 auto;
                h3 {
                    font-size: 24px;
                    color: black;
                    font-weight: 700;
                    text-align: center;
                    margin-bottom: 25px;
                    margin-top: 25px;
                }
                p {
                    font-family: Calibri, 'Calibri';
                    text-align: center;
                    padding: 10px 0;
                    font-size: 18px;
                    line-height: 30px;
                }
            }
        }
    }
    .about-content {
        margin-top: 25px;
    }
    .wrapper-timeline {
        border-left: 4px solid #5bad2c;
        width: 100%;
        &:last-child {
            margin-top: 155px;
        }
        h3 {
            font-size: 30px;
            color: #5bad2c;
            font-weight: 700;
            margin-left: 25px;
            letter-spacing: 2px;
            .small-title {
                font-size: 18px;
                color: black;
            }
        }
        .point {
            width: 100%;
            padding: 10px 0;
            min-height: 90px;
            &:after {
                content: '';
                clear: both;
                display: block;
            }
            .date {
                width: 17%;
                float: left;
                margin-left: 25px;
                font-size: 21px;
                font-weight: 700;
                &:before {
                    content: '';
                    position: absolute;
                    width: 17px;
                    height: 17px;
                    background-color: white;
                    border: 1px solid #5bad2c;
                    border-radius: 50%;
                    margin-left: -36px;
                    margin-top: 6px;
                }
            }
            .description-point {
                width: 70%;
                float: left;
                font-family: Calibri, 'Calibri';
                font-size: 18px;
                margin: 6px 0;
                
            }
        }
    }
}

.sidebar {
    .sidebar-about {
        margin-top: 13px;
    }
    .sidebar-about-list {
        margin-top: 25px;
        li {
            padding: 15px 0px;
            border-bottom: 1px solid #e5e5e5;
            a {
                color: $color;
                p {
                    margin-top: 10px;
                }
                h3 {
                    margin-top: 15px;
                    font-family: 'Oswald';
                    font-weight: 700;
                    font-size: 19px;
                    letter-spacing: 2px;
                }
            }
            &:hover a {
                    text-decoration: none;
                    color: #5bad2c;
                }
        }
    }
      
}
#page-main {
    position: relative;
    z-index: 999;
    .title-subpage {
        font-size: 29px;
        color: black;
        font-weight: 700;
        margin-bottom: 25px;
        letter-spacing: 2px;
        padding: 0 15px;
    }
    p {
        font-size: 18px;
        font-family: Calibri, 'Calibri';
        color: #505050;
    }
    .sidebar {
        p {
        font-size: 18px;
        font-family: Calibri, 'Calibri';
        color: black;
        
    }
}
    
.desc-subpage {
        margin: 0 15px;
    }
    
    .okr-content {
        margin: 0;
        padding: 0;
        .wrapper-okr {
            border-bottom: 1px solid #e5e5e5;
            margin-top: 24px;
            padding: 5px 15px;
        }
    }
    .wrapper-zone {
        width: 100%;
        height: auto;
        margin: 50px 15px;
    }
    .zone {
        width: 33%;
        float: left;
        margin-bottom: 100px;
        h3 {
            font-weight: 700;
            color: #5bad2c;
            font-size: 22px;
            letter-spacing: 2px;
            margin-top: 35px;
            &:after {
                background-color: #5bad2c;
                content: '';
                display: block;
                width: 50px;
                height: 1px;
                margin: 15px 0;
            }
        }
        ul li {
            font-family: Calibri, 'Calibri';
            font-size: 18px;
            padding: 2px 0;
        }
    }
    .list {
        width: 100%;
        margin: 0 15px;
        margin-top: 50px;
        h3 {
            font-size: 26px;
            color: $color;
            font-weight: 700;
            letter-spacing: 2px;
            margin-bottom: -25px;
        }
        .line {
            width: 100%;
            padding-top: 25px;
            .av {
                width: 25%;
                float: left;
                margin-top: 70px;
            }
            .personal {
                width: 60%;
                margin-left: 5%;
                float: left;
                h3 {
                    font-size: 26px;
                    font-weight: 700;
                    color: #5bad2c;
                    letter-spacing: 2px;
                    margin: 0;
                    margin-top: 70px;
                    &:hover {
                        color: $color;
                        transition: 0.5s;
                    }
                }
                a {
                        text-decoration: none;
                    }
                h4 {
                    font-size: 21px;
                    color: black;
                    font-weight: 400;
                    letter-spacing: 2px;
                    margin: 0;
                    margin-bottom: 20px;
                    margin-top: 20px;
                }
                p {
                    font-size: 18px;
                    color: #505050;
                    margin-left: 0;
                    margin-right: 0;
                }
                .contact {
                    color: $color;
                    margin: 0;
                    padding: 0;
                    img {
                        margin-right: 15px;
                    }
                }
            }
        }
}
}

.okr-single-content {
    margin-top: 25px;
    width: 75%;
    height: 100%;
    .av {
       width: 30%;
        float: left;
        height: 1600px;
    }
    .desc-okr-single {
        h3 {
            color: #5bad2c;
            font-size: 26px;
            font-weight: 700;
            letter-spacing: 2px;
            margin-bottom: 15px;
        }
        h4 {
            color: black;
            font-size: 21px;
            font-weight: 700;
            letter-spacing: 2px;
            margin-bottom: 15px;
        }
        p {
            color: #505050;
            font-size: 18px;
            line-height: 25px;
            margin-bottom: 25px; 
        }
        .contact {
            color: $color !important;
            margin: 0;
            padding: 0;
            img {
                margin-right: 15px;
            }
        }
        .meet-okr {
            margin-top: 50px;
        }
        
    }
}



@media only screen and (max-width: 1180px) {
    #desktop {
        display: none;
    }
    .container {
        width: 90%;
    }
    .hamburger {
        display: block;
        float: right;
        margin-top: 25px;
        margin-right: 50px;
    }
    
    header .logo {
        margin-left: 50px;
    }
    
    .bg .title-slider h2 {
        letter-spacing: 0;
        .letter {
            letter-spacing: 0;
        }
    }
    .bg {
        z-index: 1;
    }
    #mobile {
        z-index: 999;
        li {
            border-bottom: 1px solid #dfdfdf;
            a {
                width: 100%;
                text-decoration: none;
                &:hover {
                    color: white;
                }
            }
            &:hover {
                color: white;
                background-color: #03346f;
            }
            &:hover a {
                color: white;
            }
        }
    }
    #aboutme .background-about {
       background-image: none;
    }
    #aboutme .background-about .wrapper-about-text {
            width: 90% !important;
            text-align: justify;
        }
    #aboutme .background-about .white-about {
        width: 100%;
        height: auto;
    }
    #aboutme .background-about .white-about .wrapper-about-text p {
        text-align: justify;
    }
    #aboutme .background-about .white-about {
        left: 0;
    }
    #aboutme .wrapper-timeline .point .description-point {
        margin-left: 25px;
        padding: 10px 0;
        width: 100%;
    }
  
  #aboutme .background-about .white-about .wrapper-about-text p {
    text-align: left;
  }
  #aboutme .background-about .white-about .wrapper-about-text {
    width: 100%;
  }
  #aboutme .background-about .white-about .wrapper-about-text {
    margin-left: 15px;
  }
}

@media only screen and (max-width: 1000px) {
    .slider-bg, .slider-bg-1, .slider-bg-blog, .slider-bg-1-blog {
        display: none;
    }
    .title-slider img {
        display: none;
    }
    .av {
        display: none;
    }
    #page-main .list .line .personal {
        width: 100%;
      margin-left: 0;
      padding: 0;
    }
    #page-main .list .title-list {
        text-align: center;
    }
    .okr-single-content {
        width: 75%;
    }
}

@media only screen and (max-width: 800px) {
     .list-box .blog, .list-box .about, .list-box .club,  .list-box .select, .list-box .project,  .list-box .film {
        width: 50%;
         background-size: cover;
    }
    .container {
        width: 100%;
    }
    #aboutme .background-about .white-about {
        position: inherit;
    }
    #aboutme .background-about {
        height: auto;
    }
    #page-main .okr-content .wrapper-okr {
        width: 90%;
        margin: 0 auto;
    }
    #page-main .zone {
        width: 100%;
        margin: 0;
       
      &:last-child {
        margin-bottom: 100px;
      }
    }
    .list-post {
        padding: 0;
    }
}

@media only screen and (max-width: 500px) {
    .list-box .blog, .list-box .about, .list-box .club,  .list-box .select, .list-box .project,  .list-box .film {
        width: 100%;
    }
    .container-max {
        margin-bottom: 1350px;
    }
    .okr-content .zone {
        width: 100%;
        
    }
    
}

@media only screen and (max-width: 600px ) {
    .bg .title-slider h2 {
        font-size: 36px;
        .letter {
            font-size: 36px;
        }
    }
    .bg .title-slider h2 .letter {
        margin-left: 0;
    }
    .bg .title-slider h2 {
        line-height: 55px;
    }
}

@media only screen and (min-width: 800px) {
    .container-max {
        margin-bottom: 0;
    }
}

@media only screen and (max-width: 780px) {
    .okr-single-content {
        width: 100%;
    }
  .sidebar form .search {
    width: 80%;
    margin: 0 auto;
  }
  .sidebar {
    margin-top: 100px;
  }
  #aboutme .wrapper-timeline .point .date {
    width: 100%;
  }
}

.row {
    margin: 0 !important;
}