/*
Theme Name: Krzysztof Turzański
Author: Mediamass
Author URI: krzysztofturzanski.pl
Description: Domyślny szablon serwisu Krzysztofa Turzańskeigo.
Version: 1.0.0
Text Domain: mm-theme
*/

p:empty {
   display: none;
}

ul {
	list-style-type: none;
}

.wrapper-conclusion {
	padding: 0;
}

html:focus, body:focus, header:focus, main:focus, section:focus, p:focus, h1:focus, h2:focus, h3:focus, h4:focus, h5:focus, a:focus, ul:focus, li:focus, img:focus {
	outline: none;
	text-decoration: none !important; }

a:hover {
  color: #5bad2c;
	text-decoration: none;}



h1, h2, h3, h3 {
	font-family: 'Oswald', sans-serif;
}

header #desktop .slash {
	padding-left: 26px;
}

.wrapper-header nav ul .active a {
	font-weight:600 !important;
	color: #337ab7 !important;
}

.bg .title-slider h2 .letter {
	margin-left: -10px !important;
}

.list-box .blog .overlay:hover{
	background-color: #f0f0f0 !important;
}

.list-box .blog .overlay .title {
	top: 29%;
}

.list-box .about .overlay .title {
	top: 29%;
}

.sidebar {
	margin-top: 0;
}

.list-box .select .overlay .title {
	top: 29%;
}

header .logo {
	margin-left: 0;
}

header .container {
	border-bottom: 0;
}

#desktop li:last-child .slash {
	display: none;
}

header .container .wrapper-header {
	border-bottom: 1px solid #e5e5e5;
	width: 100%;
	height: 100%;
}

.list-box .about .overlay:hover {
	background-color: #5c9b38 !important;
}

.list-box .select .overlay:hover {
	background-color: #03346f !important;
}

#mobile {
	opacity: 1 !important;
}

.main-post img {
	transition: 1s;
}

.main-post p {
	margin-bottom: 0;
}

.jaw_months {
	padding-left: 15px;
}

.main-post img:hover {
	transform: scale(1.1);
}

.wrapper-image-vid {
	max-height: 290px;
}

.wrapper-image-vid a:before {
	top: 18%;
}

.wrapper-image img {
	min-height: 320px;
}

.sidebar .widget:nth-child(3) ul li h3 a {
	padding: 0;
}

.sidebar {
	margin-top: 25px;
}

.social ul .item {
	width: 47px;
	height: 48px;
}

#aboutme .background-about .white-about .wrapper-about-text p {
	font-size: 21px;
}

#aboutme .background-about {
	min-height: 733px;
}

#aboutme .background-about .white-about {
	padding: 10px 0;
}

.social ul .item a {
	display: block;
	width: 47px;
	height: 48px;
}

.zone h3 {
	text-transform:uppercase;
}

.desc-okr-single p {
	font-size: 18px !important;
}

#page-main .single-post .description-post p {
	font-size: 18px !important;
}

.personal h3 {
	text-transform: uppercase;
}

.space {
	margin-bottom: 100px;
}

#page-main p {
	font-size: 21px;
}

.sidebar .social {
	text-align: left;
	margin-top: 50px;
	margin-left: 0;
}

.main-post h2 {
	font-family: 'Oswald', sans-serif;
}

.main-post .description-post a:hover {
	text-decoration: none;
}

.main-post-full h2 {
	font-family: 'Oswald', sans-serif;
}

.main-post-full .post-thumbnail {
	width: auto;
	max-width: 100%;
	z-index: 999;
	height: 415px;
}

.gallery {
	margin-top: 25px;
}

.gallery .item-photo img {
	width: 100%;
	margin-top: 25px;
	cursor: zoom-in;
}

.pagination li a {
	color: black;
}

.single-post h2 {
	font-family: 'Oswald', sans-serif;
	margin-top: 5px;
}

.single-post p {
	margin-top: 15px;
}

.single-post h2:hover {
	color: #03346f;
	text-decoration: none;
}

.single-post a:hover {
	text-decoration: none;
}

.single-post img {
	width: auto;
}

.single-post .description-post {
	min-height: 300px;
}

.desc-okr-single h3 {
	text-transform: uppercase;
}

.wrapper-conclusion ul {
	margin-top: 0px;
}

.desc-okr-single p {
	font-size: 18px;
}

.single-post {
	margin-top: 0;
	margin-bottom: 40px;
}

.comments {
	font-size: 16px !important;
}

#page-main .title-subpage {
	padding: 0;
}

.jaw_years a {
	font-weight: 700;
	padding: 0;
}

#page-main .desc-subpage {
	margin: 0;
	padding-bottom: 30px;
	text-indent: 35px;
}

.widget_wysija_cont .wysija-submit {
	margin-top: 0;
}

.jaw_symbol {
	margin-left: 15px;
}


.jaw_years a:before {
	content: '';
	display: block;
	width: 9px;
	height: 12px;
	float: left;
	background-image: url(assets/images/list-type_03.png);
	background-repeat: no-repeat;
	position: absolute;
	top: 11px;
	transition: 0.5s;
	left: 0;
}



.contact a {
	font-size: 16px;
	color: #03346f;
	font-family: Calibri, 'Calibri';
}

.sidebar .info-about a {
	font-size: 18px;
	color: #03346f;
	font-family: Calibri, 'Calibri';
}

.jaw_years:first-child {
	font-weight: 700 !important;
}

.jaw_widget .expanded ul li a:before {
	display: none;
}

.jaw_widget .jaw_years ul li a {
	font-weight: 400 !important;
}

.expanded a:before {
	transform: rotate(90deg);
	transition: 0.5s;
}

#searchsubmit {
	color: transparent;
	transition: 0.5s;
}

.sidebar .widget:nth-child(4) ul li h3 > a {
	padding-bottom: 0px;
	padding: 10px 0;
	text-transform: lowercase;
	border-bottom: 1px solid #e5e5e5;
}

.sidebar .widget:nth-child(4) ul li h3 > a:first-letter {
	text-transform: uppercase;
}

.okr-single-content .desc-okr-single .contact:hover {
	color: #5bad2c !important;
}

.pagi-post a {
	color: transparent !important;
	display: block;
	width: 37px;
	height: 37px;
}

.pagi-post .nav-prev, .pagi-post .nav-next {
	color: transparent !important;
	overflow: hidden;
}

.pagi-post .nav-prev a {
	background-repeat: no-repeat;
	text-indent: -9999px;
	margin-top: -20px;
}

.pagi-post .nav-prev a:hover {
	background-repeat: no-repeat;
	text-indent: -9999px;
}

.pagi-post .nav-next a {
	margin-left: -2px;
	display: block;
	max-width: 37px;
	max-height: 37px;
}

.pagi {
	margin-top: 85px;
	width: 90%;
	height: 100px;
	margin-left: 15px;
	display: block;
}

.pagination {
	margin: 8px 10px;
	float: left;
}
.pagination li {
	padding: 0 10px;
	color: #807f7f;
	font-weight: 400;
}
.pagination .active {
	color: #03346f;
	font-weight: 700;
}

.pagi {
  margin-top: 45px; }

.sidebar li {
	list-style-type: none;
}

.sidebar form .search-button {
	color: transparent;
}

.sidebar .widget .subtitle {
	transition: 0.5s;
}

.sidebar .info-about {
	margin-top: 0;
	margin-bottom: 0;
}

.pagi .nav-prev:hover {
	background-image: url(assets/images/left-hover_20.png);
}

.pagi .nav-next {
	background-image: url(assets/images/next_15.png);
	width: 37px;
	height: 37px;
	float: left;
}

.pagi .nav-next:hover {
	background-image: url(assets/images/right-hover_20.png);
}

#aboutme .scroll-timeline {
	width: 100%;
	height: 600px;
	margin-top: 50px;
	direction: rtl;
	margin-bottom: 100px;
}
#aboutme .scroll-timeline::-webkit-scrollbar {
	background-color: #f1f1f1;
	width: 6px;
	border-radius: 15px;
	cursor: pointer;
}
#aboutme .scroll-timeline::-webkit-scrollbar-thumb {
	background-color: #406592;
	border-radius: 15px;
	cursor: pointer;
}

#aboutme .wrapper-timeline {
	border-left: 4px solid #5bad2c;
	width: 90%;
	margin: 0 auto;
	direction: ltr;
	position: relative;
}

.sidebar label {
	display: none;
}
  .sidebar form input[type="text"] {
	width: 80%;
	border: 1px solid #d6dee8;
	font-family: Calibri, 'Calibri';
	height: 48px;
	font-size: 18px;
	padding-left: 10px;
	line-height: 18px;
	position: relative;
	border-right: none;
	color: #03346f;
}

.sidebar form input[type="submit"]:focus {
	outline: none;
	content: '';
}
.sidebar form #searchsubmit {
	width: 50px;
	height: 48px;
	background-color: white;
	border: 1px solid #d6dee8;
	background-image: url(assets/images/search-button_03.png);
	height: 48px;
	width: 48px;
	position: absolute;
	border-left: none;
}
.sidebar form input[type="text"]:focus {
	outline: none;
}
.sidebar form #searchsubmit:hover {
	background-image: url(assets/images/search-hover_06.png);
	border-color: #5bad2c;
}
.sidebar .widget .subtitle {
	color: #03346f;
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 2px;
	margin-top: 40px !important;
	margin-bottom: 25px;
	text-transform:uppercase;
}


.sidebar .widget .subtitle-link {
	color: #03346f;
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 2px;
	margin: 55px 0;
}
.sidebar .widget .subtitle-link a {
	font-family: 'Oswald';
	text-decoration: none;
	color: #03346f;
}

.sidebar-about-list #menu-sidebar-o-nas .menu-item-description {
	font-family: Calibri, 'Calibri';
	font-size: 16px;
	font-weight: 400;
	text-transform: none !important;
}

.menu-item:hover {
	color: #5bad2c;
}

#aboutme .about-content h3 {
	font-size: 30px;
	color: #5bad2c;
	font-weight: 700;
	letter-spacing: 2px;
}
#aboutme .about-content h3 .small-title {
	font-size: 18px;
	color: black;
}

.sidebar .widget {
	width: 100%;
}

.okr-single-content .av {
	width: 25%;
	height: 100%;
}

.okr-single-content .av img {
	padding-bottom: 10px;
}

.desc-okr-single a:hover {
	color: #5bad2c;
	transform: 0.5s;
}

.sidebar .widget li a{
	font-family: Calibri, 'Calibri';
	padding: 5px 0;
	color: #03346f;
	position: relative;
	font-size: 18px;
	transition: .5s;
	display: block;
}

.sidebar .widget ul li .jew_years {
		padding: 0;
}

.sidebar .widget li a {
	font-family: Calibri, 'Calibri';
	color: #03346f;
}
.sidebar .widget li a:hover {
	color: #5bad2c;
	text-decoration: none;
}
.sidebar .widget li a:hover span {
	color: #5bad2c;
}
.sidebar .widget .count {
	text-align: right;
	position: absolute;
	right: 0;
	color: #03346f;
	font-weight: 100;
}

#aboutme .wrapper-timeline .point .date:before {
	margin-left: -35px;
}

.sidebar .newsletter input[type="text"] {
	position: absolute;
	transform: translateX(-50%);
	top: 80px
	width: 80%;
	left: 50%;
	height: 37px;
	font-weight: 100;
	background-color: rgba(255, 255, 255, 0.2);
	border: none;
	color: white;
	padding: 10px;
	font-size: 15px;
	border-radius: 5px;
}

.sidebar h3 {
	text-transform: uppercase;
}

.sidebar {
	margin-top: 0;
}

#aboutme .wrapper-timeline {
	width: 95%;
}

#aboutme .wrapper-timeline:last-child {
	margin-top: 0;
}

.sidebar .sidebar-about-list li {
	font-size: 18px;
	font-weight: 700;
	letter-spacing: 2px;
	text-transform: uppercase;
}

#page-main .title-subpage {
	text-transform:uppercase;
}

#page .list-post .title-subpage {
  text-transform: uppercase;
}

#page .list-post h3 {
  text-transform: uppercase;
  margin-bottom:15px;
}

#page-main .wrapper-zone {
	min-width: 100%;
	display: block;
}


.wrapper-conclusion a {
  margin-left: 0 !important;
}

#page-main .wrapper-zone {
	min-width: 100%;
	margin: 15px 0px;
}

#page-main .list .title-list:before {
	clear: both;
}

.pagination>li>a, .pagination>li>span{
	border: 0 !important;
	margin-left: 0 !important;
	color: #807f7f;
}

.upper{
	text-transform: uppercase;
}

#page-main .wrapper-zone:after {
	content: '';
	display: block;
	clear: both;
}

.mCSB_container {
	overflow: none !important;
}

#load {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: fixed;
	z-index: 999;
	background-color: white;
}

.cli-plugin-button, .cli-plugin-button:visited {
	border-radius: 0;
}

@media only screen and (max-width: 1180px) {
	.background-about {
		background-color: white;
	}
}

@media only screen and (max-width: 1180px) {
	.hamburger {
		margin-right: 0;
	}
}
@media only screen and (max-width: 576px) {
	.pagination li a{
		padding: 6px 4px;
	}
	.pagination li{
		padding: 0 !important;
	}
}
@media only screen and (max-width: 480px) {
	.single-post img {
		width: 100%;
		max-height: 250px;
	}
}

.mCSB_scrollTools .mCSB_buttonUp,
.mCSB_scrollTools .mCSB_buttonDown,
.mCSB_scrollTools .mCSB_buttonLeft,
.mCSB_scrollTools .mCSB_buttonRight{
  background-image: url('assets/vendor/mCSB_buttons.png'); /* css sprites */
}

.margin-btm a {
  margin-left: 0 !important;
  margin-bottom: 25px;
}

.active-dt{
	background-color: #5bad2c;
    color: #fff !important;
}
.wrapper-conclusion a{
	color:#5bad2c;
	font-size: 16px;
}
.wrapper-conclusion a:hover{
	color:#fff;
	font-size: 16px;
}

.wrapper-conclusion .hoverpdf{
    color: #03346f;
}

.wrapper-conclusion .hoverpdf:hover {
  color: #5bad2c;
}

.margin-btm{
	margin-bottom: 30px;
}

.textwidget .subtitle-link a:hover {
  color: #5bad2c !important;
}

.single-post h2 {
  min-height: 70px;
}

.social ul li:hover {
  opacity: 0.5;
  transition: 0.5s;
}

.list-post iframe {
  width: 100%;
  height: 500px !important;
}

.social ul {
  border-bottom: 0;
}

@media only screen and (max-width: 720px) {
  .single-post h2 {
    height: auto;
  }
}

@media only screen and (max-width: 480px) {
  .wrapper-image img {
    height: auto;
    min-height: 0;
  }
  .single-post .description-post {
    height: auto;
    min-height: 0;
  }
  .main-post-full .post-thumbnail {
    height: auto;
  }
}
.wrapper-conclusion ul li a:hover{
	font-size: 18px;
}

.aligncenter {
	display: block;
	margin: 5px auto 5px auto;
}
/*wysiwig*/
.alignright {
	float: right;
    margin: 5px 0 20px 20px;
}
.alignleft{
	float: left;
    margin: 5px 20px 20px 0;
}

.blockquote{
	border-left:#337ab7;
}

/*
*/
.description-post-full img{
	width: 100%;
	height: auto;
}